// 自定义变量
//颜色
$body-bg:#f4f5f5;
$white: #fff;
$primary:#1e80ff;


$text-color:#909090;
$text-search:#666;
$icon-color:#b2bac2;
$border-color:#f1f1f1;
$box-shadow: rgb(0 0 0 / 5%);
$typehead-color:#869aab; //搜索记录
$typehead-list-color:#5e6369; //搜索记录
$title:#2e3135;



// 大小
$header-h: 61px;
$header-btn-h:32px;
$nav-h:45px;
$main-top:15px;