{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": {
          //core-js的版本
          "version": 3
        },
        "useBuiltIns": "usage",
        "targets": {
          "edge": "17",
          "firefox": "60",
          "chrome": "67",
          "safari": "11.1",
          "ie": "11"
        }
      }
    ],
    //对ts进行编译
    "@babel/preset-typescript"
  ],
  "plugins": [
    //类处理
    "@babel/plugin-proposal-class-properties"
  ]
}