/.gitignore merge=ours
/.gitattributes merge=ours
/src merge=ours export-ignore
/webpack merge=ours export-ignore
/.babelrc merge=ours
/.browserslistrc merge=ours
/jsconfig.json merge=ours
/package.json merge=ours
/postcss.config.js merge=ours
/webpack.config.js merge=ours
/yarn.lock merge=ours
