// 箭头
#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
  z-index: -1;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#face-tooltip[data-popper-placement^='top']>#arrow {
  bottom: -4px;
}

#face-tooltip[data-popper-placement^='bottom']>#arrow {
  top: -4px;
}

#face-tooltip[data-popper-placement^='left']>#arrow {
  right: -4px;
}

#face-tooltip[data-popper-placement^='right']>#arrow {
  left: -4px;
}