.fixed-tool {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 1;
}
.fixed-tool-item {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--jj-fixed-tool-item-color);
  background-color: var(--jj-fixed-tool-item-bg);
  border: 1px solid var(--jj-fixed-tool-item-border);
  border-radius: 50%;
  box-shadow: 0 2px 8px var(--jj-fixed-tool-item-box-shadow);
  cursor: pointer;
  & + & {
    margin-top: 12px;
  }
  &:hover {
    color: var(--jj-fixed-tool-item-color-hover);
    box-shadow: 0 0 5px var(--jj-fixed-tool-item-box-shadow-hover);
  }
  &:active {
    opacity: 0.7;
  }
}
.fixed-tool-item {
  .dark-icon {
    display: none;
  }
  .light-icon {
    display: block;
    color: var(--jj-fixed-tool-item-color-hover);
  }
  &.dark {
    .dark-icon {
      display: block;
    }
    .light-icon {
      display: none;
    }
  }
}
.fixed-tool-item.back-to-top {
  display: none;
  &.visible {
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  .fixed-tool {
    right: 12px;
    bottom: 36px;
  }
}
