@import "../mixins";

#index-main {
  padding-top: $header-h;

  #index-main-nav {
    position: fixed;
    top: $header-h;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    transition: all .2s;
    transform: translateZ(0);
    z-index: 2;

    &.top {
      transform: translate3d(0, -$header-h, 0);
    }

    .main-nav {
      position: relative;
      padding-right: 80px;

      @media screen and (max-width:960px) {
        padding-right: 0;
      }

      .index-nav-warp {
        overflow: hidden;

        .nav-content {
          display: flex;
          white-space: nowrap;
        }
      }

      .nav-item {
        height: $nav-h;
        line-height: $nav-h;
        padding: 0 12px;
        font-size: 14px;
        text-decoration: none;
        color: #71777c;
        cursor: pointer;

        &:first-child {
          padding-left: 0;
        }

        &.active,
        &:hover,
        &:active {
          color: #007fff;
        }
      }

      .nav-item.right-config {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;

        @media screen and (max-width:960px) {
          display: none;
        }
      }
    }
  }

  #index-content {
    padding-top: $nav-h + $main-top;

    .index-container {
      max-width: 960px;
      margin: auto;
    }

    .index-container>.content {
      // margin-top: 15px;
      position: relative;

      .index-left {
        width: 700px;
        border-radius: 2px;
        background-color: #fff;
        margin-right: 260px;

        @media screen and (max-width:960px) {
          width: 100%;
          margin-right: 0;
        }

        // 快捷导航
        .head-nav {
          padding: 16px 12px;
          border-bottom: 1px solid hsla(0, 0%, 59.2%, .1);

          a.nav-item {
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            line-height: 1;
            color: #909090;
            text-decoration: none;
            padding: 0 14px;

            &+.nav-item {
              border-left: 1px solid hsla(0, 0%, 59.2%, .2);
            }

            &.active,
            &:hover,
            &:active {
              color: #007fff;
            }
          }
        }

        // 文章内容
        .entry-list-wrap {
          &.hide {
            height: 0;
            display: none;
            overflow: hidden;
          }

          @import "./entry-card";
        }



        //自动加载
        .auto-load {
          padding: 5px;
          text-align: center;
          background-color: #fff;
          border-top: 1px solid #edeeef;
          @include no-select();
          display: none;

          &.show {
            display: block;
          }

          img {
            width: 40px;
            vertical-align: top;
          }

          .next,
          .prev {
            display: none;
          }

          .no-more {
            font-size: 14px;
            line-height: 40px;
            color: #b2bac2;
          }
        }
      }

      .index-right {
        position: absolute;
        top: 0;
        right: 0;
        width: 240px;

        @media screen and (max-width:960px) {
          display: none;
        }

        // 最近评论
        .recent-comment {
          background-color: #fff;
          margin-bottom: 16px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);

          .recent-head {
            padding: 12px 16px;
            font-size: 14px;
            line-height: 1;
            color: #333;
            display: flex;
            align-items: center;
            border-bottom: 1px solid hsla(0, 0%, 59.2%, .1);

            .icon {
              font-size: 12px;
              color: #999;
              margin-right: 5px;
            }
          }

          .recent-body {
            .item {
              .link {
                display: flex;
                align-items: center;
                color: inherit;
                text-decoration: none;
                padding: 12px 16px;

                &:hover,
                &:active {
                  background-color: hsla(0, 0%, 84.7%, .1);
                }
              }

              .comment-avatar {
                flex-shrink: 0;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 6px;

                img {
                  @include imgFit();
                }
              }

              .user-info {
                min-width: 0;
                flex-grow: 1;

                .title {
                  font-size: 14px;
                  font-weight: normal;
                  color: #333;
                  margin-bottom: 3px;
                  @include nowrap();
                }

                .subtitle {
                  font-size: 12px;
                  color: #909090;
                  word-wrap: break-word;
                  @include nowrap();

                  img {
                    width: 20px;
                    height: 20px;
                    vertical-align: sub;
                    margin-left: 4px;

                    &+img {
                      margin-right: 2px;
                    }
                  }
                }
              }
            }
          }

          .recent-footer {
            padding: 12px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #007fff;
            border-top: 1px solid hsla(0, 0%, 59.2%, .1);

            a {
              font-size: 14px;
              color: inherit;
              text-decoration: none;
            }

            .icon {
              font-size: 14px;
              margin-left: 5px;
            }
          }
        }

        // 主题小工具
        .theme-tool {
          background-color: #fff;
          margin-bottom: 16px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);

          .item {
            .link {
              color: inherit;
              text-decoration: none;
              display: flex;
              align-items: center;
              padding: 12px;

              &:hover,
              &:active {
                background-color: hsla(0, 0%, 84.7%, .1);
              }

              .tool-pic {
                flex-shrink: 0;
                width: 36px;
                height: 36px;
                margin-right: 10px;

                img {
                  @include imgFit(contain);
                }
              }

              .title {
                min-width: 0;
                flex-grow: 1;
                font-size: 14px;
                font-weight: normal;
                color: #333;
                line-height: 1;
                @include nowrap();
              }
            }
          }
        }

        // footer
        @import "../footer/index";
      }
    }
  }

}


// 导航悬浮菜单
.index-nav-tooltip {
  position: absolute;
  max-width: 360px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
  line-height: normal;
  white-space: normal;
  display: none;
  opacity: 0;
  transition: opacity .25s;

  &[data-show] {
    display: block;
  }

  &.show {
    opacity: 1;
  }

  a {
    display: inline-block;
    font-size: 13px;
    color: #71777D;
    text-decoration: none;
    background-color: #F4F5F5;
    padding: 2px 12px;
    border-radius: 200px;
    margin-right: 12px;
    margin-bottom: 12px;

    &:hover,
    &:active {
      color: #007fff;
    }

    &.active {
      color: #fff;
      background-color: #007fff;
    }
  }
}