//图片
a.gallery {
  border-bottom: none !important;
  cursor: zoom-in;
}

//回复可见-按钮
.respond-visible {
  a {
    margin: 0 5px;
  }
}

//回复可见-内容
.respond-view {
  display: block;
  max-width: 100%;
  min-width: 0;
  border-style: dashed;
  border-color: #c0c0c0;
  padding: 6px 10px 10px;

  legend {
    padding: 0 8px;
    color: #007fff;
  }
}

//表格滚动条
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}