@charset "UTF-8";
#page-main {
  padding-top: 67px; }
  #page-main .page-warp {
    margin-top: 15px;
    position: relative; }
    #page-main .page-warp #article-tool {
      position: fixed;
      top: 190px;
      margin-left: -84px; }
      #page-main .page-warp #article-tool .top .badge {
        display: block;
        width: 36px;
        height: 36px;
        text-align: center;
        text-decoration: none;
        line-height: 36px;
        background-color: #fff;
        border-radius: 50%;
        color: #B2BAC2;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
        cursor: pointer;
        position: relative; }
        #page-main .page-warp #article-tool .top .badge::after {
          content: attr(badge);
          position: absolute;
          top: 0;
          left: 75%;
          padding: 2px 5px;
          font-size: 12px;
          line-height: 1;
          color: #fff;
          background-color: #b2bac2;
          border-radius: 200px;
          transform: scale(0.75);
          transform-origin: left top; }
        #page-main .page-warp #article-tool .top .badge + .badge {
          margin-top: 9px; }
        #page-main .page-warp #article-tool .top .badge:hover {
          color: #8A93A0; }
        #page-main .page-warp #article-tool .top .badge .icon {
          font-size: 20px; }
        #page-main .page-warp #article-tool .top .badge.active::after {
          background-color: #74ca46; }
        #page-main .page-warp #article-tool .top .badge.active .icon {
          color: #74ca46; }
      #page-main .page-warp #article-tool .bottom {
        margin-top: 30px; }
        #page-main .page-warp #article-tool .bottom.share .share-title {
          text-align: center;
          font-size: 12px;
          color: #c6c6c6;
          margin-bottom: 12px;
          -moz-user-select: none;
          /*火狐*/
          -webkit-user-select: none;
          /*webkit浏览器*/
          -ms-user-select: none;
          /*IE10*/
          -khtml-user-select: none;
          /*早期浏览器*/
          -o-user-select: none;
          /* Opera*/
          user-select: none; }
        #page-main .page-warp #article-tool .bottom.share .share-content {
          display: flex;
          flex-direction: column; }
          #page-main .page-warp #article-tool .bottom.share .share-content .share-item {
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
            text-decoration: none;
            background-color: #fff;
            border-radius: 50%;
            color: #B2BAC2;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
            cursor: pointer; }
            #page-main .page-warp #article-tool .bottom.share .share-content .share-item + .share-item {
              margin-top: 9px; }
            #page-main .page-warp #article-tool .bottom.share .share-content .share-item.weibo:hover {
              color: #D52B2A; }
            #page-main .page-warp #article-tool .bottom.share .share-content .share-item.qq:hover {
              color: #55B2F1; }
            #page-main .page-warp #article-tool .bottom.share .share-content .share-item.qq-kj:hover {
              color: #FFCE00; }
            #page-main .page-warp #article-tool .bottom.share .share-content .share-item.wx:hover {
              color: #44B035; }
            #page-main .page-warp #article-tool .bottom.share .share-content .share-item .icon {
              font-size: 20px; }
            #page-main .page-warp #article-tool .bottom.share .share-content .share-item.wx {
              position: relative; }
              #page-main .page-warp #article-tool .bottom.share .share-content .share-item.wx:hover .wx-qrcode {
                display: block; }
              #page-main .page-warp #article-tool .bottom.share .share-content .share-item.wx .wx-qrcode {
                position: absolute;
                top: 100%;
                left: 50%;
                width: 96px;
                height: 96px;
                padding: 6px;
                margin-top: 9px;
                background-color: #fff;
                transform: translateX(-50%);
                display: none; }
                #page-main .page-warp #article-tool .bottom.share .share-content .share-item.wx .wx-qrcode img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                  vertical-align: top; }
    #page-main .page-warp .page-left {
      width: 700px;
      margin-right: 260px;
      margin-bottom: 30px; }
      @media screen and (max-width: 960px) {
        #page-main .page-warp .page-left {
          width: 100%;
          margin-right: 0; } }
      #page-main .page-warp .page-left > .content {
        padding: 24px;
        padding-bottom: 36px;
        border-radius: 2px;
        background-color: #fff; }
        #page-main .page-warp .page-left > .content .post-skeleton .skeleton-head {
          display: flex;
          align-items: center; }
          #page-main .page-warp .page-left > .content .post-skeleton .skeleton-head .avatar {
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            margin-right: 12px;
            border-radius: 50%;
            overflow: hidden;
            background-color: #F0F0F0; }
          #page-main .page-warp .page-left > .content .post-skeleton .skeleton-head .info {
            min-width: 0;
            flex-grow: 1; }
            #page-main .page-warp .page-left > .content .post-skeleton .skeleton-head .info .title {
              width: 80px;
              height: 15px;
              background-color: #F0F0F0; }
            #page-main .page-warp .page-left > .content .post-skeleton .skeleton-head .info .subtitle {
              margin-top: 5px;
              width: 120px;
              height: 10px;
              background-color: #F0F0F0; }
        #page-main .page-warp .page-left > .content .post-skeleton .skeleton-body {
          margin-top: 30px;
          height: 400px;
          background-color: #F0F0F0; }
        #page-main .page-warp .page-left > .content .post-skeleton .skeleton-footer {
          margin-top: 30px; }
          #page-main .page-warp .page-left > .content .post-skeleton .skeleton-footer .footer-item {
            max-width: 50%;
            height: 30px;
            background-color: #F0F0F0; }
            #page-main .page-warp .page-left > .content .post-skeleton .skeleton-footer .footer-item:last-child {
              margin-top: 20px;
              max-width: 80%;
              height: 20px; }
        #page-main .page-warp .page-left > .content .content-warp {
          display: none; }
          #page-main .page-warp .page-left > .content .content-warp.show {
            display: block; }
        #page-main .page-warp .page-left > .content .page-head {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-end;
          margin-bottom: 14px; }
          #page-main .page-warp .page-left > .content .page-head .avatar {
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            margin-right: 12px;
            border-radius: 50%;
            overflow: hidden;
            background-color: #eee; }
            #page-main .page-warp .page-left > .content .page-head .avatar img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              vertical-align: top; }
          #page-main .page-warp .page-left > .content .page-head .info {
            min-width: 0;
            flex-grow: 1;
            margin-bottom: 5px; }
            #page-main .page-warp .page-left > .content .page-head .info a {
              color: inherit;
              text-decoration: none; }
            #page-main .page-warp .page-left > .content .page-head .info .title {
              font-size: 16px;
              font-weight: bold;
              color: #333; }
            #page-main .page-warp .page-left > .content .page-head .info .subtitle {
              margin-top: 3px;
              font-size: 13px;
              color: #909090; }
              #page-main .page-warp .page-left > .content .page-head .info .subtitle time {
                letter-spacing: 1px; }
          #page-main .page-warp .page-left > .content .page-head .edit {
            flex-shrink: 0;
            width: 55px;
            height: 26px;
            line-height: 26px;
            font-size: 14px;
            text-decoration: none;
            text-align: center;
            border: 1px solid #6cbd45;
            color: #6cbd45; }
            #page-main .page-warp .page-left > .content .page-head .edit:hover, #page-main .page-warp .page-left > .content .page-head .edit:active {
              opacity: .7; }
            @media screen and (max-width: 420px) {
              #page-main .page-warp .page-left > .content .page-head .edit {
                width: 45px;
                height: 20px;
                line-height: 20px;
                font-size: 12px; } }
        #page-main .page-warp .page-left > .content .page-end-time {
          text-align: right;
          font-size: 12px;
          color: #909090;
          margin-bottom: 10px; }
        #page-main .page-warp .page-left > .content .page-content {
          padding-bottom: 24px; }
          #page-main .page-warp .page-left > .content .page-content .page-title {
            font-size: 30px;
            font-weight: bold;
            margin: 20px 0;
            line-height: 1.5; }
          #page-main .page-warp .page-left > .content .page-content #markdown {
            word-break: break-word;
            line-height: 1.75;
            font-weight: 400;
            font-size: 15px;
            overflow-x: hidden;
            color: #333; }
            #page-main .page-warp .page-left > .content .page-content #markdown h1,
            #page-main .page-warp .page-left > .content .page-content #markdown h2,
            #page-main .page-warp .page-left > .content .page-content #markdown h3,
            #page-main .page-warp .page-left > .content .page-content #markdown h4,
            #page-main .page-warp .page-left > .content .page-content #markdown h5,
            #page-main .page-warp .page-left > .content .page-content #markdown h6 {
              line-height: 1.5;
              margin-top: 35px;
              margin-bottom: 10px;
              padding-bottom: 5px; }
            #page-main .page-warp .page-left > .content .page-content #markdown h1 {
              font-size: 30px;
              margin-bottom: 5px; }
            #page-main .page-warp .page-left > .content .page-content #markdown h2 {
              padding-bottom: 12px;
              font-size: 24px;
              border-bottom: 1px solid #ececec; }
            #page-main .page-warp .page-left > .content .page-content #markdown h3 {
              font-size: 18px;
              padding-bottom: 0; }
            #page-main .page-warp .page-left > .content .page-content #markdown h4 {
              font-size: 16px; }
            #page-main .page-warp .page-left > .content .page-content #markdown h5 {
              font-size: 15px; }
            #page-main .page-warp .page-left > .content .page-content #markdown h6 {
              margin-top: 5px; }
            #page-main .page-warp .page-left > .content .page-content #markdown p {
              line-height: inherit;
              margin-top: 22px;
              margin-bottom: 22px; }
            #page-main .page-warp .page-left > .content .page-content #markdown img {
              max-width: 100%; }
            #page-main .page-warp .page-left > .content .page-content #markdown hr {
              border: none;
              border-top: 1px solid #ddd;
              margin-top: 32px;
              margin-bottom: 32px; }
            #page-main .page-warp .page-left > .content .page-content #markdown code {
              word-break: break-word;
              border-radius: 2px;
              overflow-x: auto;
              background-color: #fff5f5;
              color: #ff502c;
              font-size: .87em;
              padding: .065em .4em;
              font-family: Menlo, Monaco, Consolas, Courier New, monospace; }
            #page-main .page-warp .page-left > .content .page-content #markdown pre {
              font-family: Menlo, Monaco, Consolas, Courier New, monospace;
              overflow: auto;
              position: relative;
              line-height: 1.75; }
              #page-main .page-warp .page-left > .content .page-content #markdown pre > code {
                font-size: 12px;
                padding: 15px 12px;
                margin: 0;
                word-break: normal;
                display: block;
                overflow-x: auto;
                color: #333;
                background: #f8f8f8; }
            #page-main .page-warp .page-left > .content .page-content #markdown a {
              text-decoration: none;
              color: #0269c8;
              border-bottom: 1px solid #d1e9ff; }
              #page-main .page-warp .page-left > .content .page-content #markdown a:active, #page-main .page-warp .page-left > .content .page-content #markdown a:hover {
                color: #275b8c; }
            #page-main .page-warp .page-left > .content .page-content #markdown table {
              display: inline-block !important;
              font-size: 12px;
              width: auto;
              max-width: 100%;
              overflow: auto;
              border: 1px solid #f6f6f6; }
            #page-main .page-warp .page-left > .content .page-content #markdown thead {
              background: #f6f6f6;
              color: #000;
              text-align: left; }
            #page-main .page-warp .page-left > .content .page-content #markdown tr:nth-child(2n) {
              background-color: #fcfcfc; }
            #page-main .page-warp .page-left > .content .page-content #markdown td,
            #page-main .page-warp .page-left > .content .page-content #markdown th {
              padding: 12px 7px;
              line-height: 24px; }
            #page-main .page-warp .page-left > .content .page-content #markdown td {
              min-width: 120px; }
            #page-main .page-warp .page-left > .content .page-content #markdown blockquote {
              color: #666;
              padding: 1px 23px;
              margin: 22px 0;
              border-left: 4px solid #cbcbcb;
              background-color: #f8f8f8; }
              #page-main .page-warp .page-left > .content .page-content #markdown blockquote:after {
                display: block;
                content: ""; }
              #page-main .page-warp .page-left > .content .page-content #markdown blockquote > p {
                margin: 10px 0; }
            #page-main .page-warp .page-left > .content .page-content #markdown ol,
            #page-main .page-warp .page-left > .content .page-content #markdown ul {
              padding-left: 28px; }
            #page-main .page-warp .page-left > .content .page-content #markdown ol li,
            #page-main .page-warp .page-left > .content .page-content #markdown ul li {
              margin-bottom: 0;
              list-style: inherit; }
            #page-main .page-warp .page-left > .content .page-content #markdown ol li .task-list-item,
            #page-main .page-warp .page-left > .content .page-content #markdown ul li .task-list-item {
              list-style: none; }
            #page-main .page-warp .page-left > .content .page-content #markdown ol li .task-list-item ol,
            #page-main .page-warp .page-left > .content .page-content #markdown ol li .task-list-item ul {
              margin-top: 0; }
            #page-main .page-warp .page-left > .content .page-content #markdown ul li .task-list-item ol,
            #page-main .page-warp .page-left > .content .page-content #markdown ul li .task-list-item ul {
              margin-top: 0; }
            #page-main .page-warp .page-left > .content .page-content #markdown ol ol,
            #page-main .page-warp .page-left > .content .page-content #markdown ol ul {
              margin-top: 3px; }
            #page-main .page-warp .page-left > .content .page-content #markdown ul ol,
            #page-main .page-warp .page-left > .content .page-content #markdown ul ul {
              margin-top: 3px; }
            #page-main .page-warp .page-left > .content .page-content #markdown ol li {
              padding-left: 6px; }
            #page-main .page-warp .page-left > .content .page-content #markdown .contains-task-list {
              padding-left: 0; }
            #page-main .page-warp .page-left > .content .page-content #markdown .task-list-item {
              list-style: none; }
            #page-main .page-warp .page-left > .content .page-content #markdown pre,
            #page-main .page-warp .page-left > .content .page-content #markdown pre > code.hljs {
              color: #333;
              background: #f8f8f8; }
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-comment,
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-quote {
              color: #998;
              font-style: italic; }
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-keyword,
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-selector-tag,
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-subst {
              color: #333;
              font-weight: 700; }
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-literal,
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-number,
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-tag .hljs-attr,
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-template-variable,
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-variable {
              color: teal; }
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-doctag,
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-string {
              color: #d14; }
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-section,
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-selector-id,
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-title {
              color: #900;
              font-weight: 700; }
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-subst {
              font-weight: 400; }
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-class .hljs-title,
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-type {
              color: #458;
              font-weight: 700; }
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-attribute,
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-name,
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-tag {
              color: navy;
              font-weight: 400; }
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-link,
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-regexp {
              color: #009926; }
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-bullet,
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-symbol {
              color: #990073; }
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-built_in,
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-builtin-name {
              color: #0086b3; }
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-meta {
              color: #999;
              font-weight: 700; }
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-deletion {
              background: #fdd; }
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-addition {
              background: #dfd; }
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-emphasis {
              font-style: italic; }
            #page-main .page-warp .page-left > .content .page-content #markdown .hljs-strong {
              font-weight: 700; }
          @media (max-width: 720px) {
            #page-main .page-warp .page-left > .content .page-content .markdown-body h1 {
              font-size: 24px; }
            #page-main .page-warp .page-left > .content .page-content .markdown-body h2 {
              font-size: 20px; }
            #page-main .page-warp .page-left > .content .page-content .markdown-body h3 {
              font-size: 18px; } }
          #page-main .page-warp .page-left > .content .page-content a.gallery {
            border-bottom: none !important;
            cursor: zoom-in; }
          #page-main .page-warp .page-left > .content .page-content .respond-visible a {
            margin: 0 5px; }
          #page-main .page-warp .page-left > .content .page-content .respond-view {
            display: block;
            max-width: 100%;
            min-width: 0;
            border-style: dashed;
            border-color: #c0c0c0;
            padding: 6px 10px 10px; }
            #page-main .page-warp .page-left > .content .page-content .respond-view legend {
              padding: 0 8px;
              color: #007fff; }
          #page-main .page-warp .page-left > .content .page-content .table-responsive {
            display: block;
            width: 100%;
            overflow-x: auto; }
        #page-main .page-warp .page-left > .content .page-declaration {
          border-left: 6px solid #ddd;
          padding-left: 24px;
          margin-bottom: 30px; }
          #page-main .page-warp .page-left > .content .page-declaration .title {
            font-weight: normal;
            font-size: 16px;
            line-height: 1.6;
            color: #007fff; }
          #page-main .page-warp .page-left > .content .page-declaration .subtitle {
            margin-top: 3px;
            font-size: 13px;
            color: #909090;
            line-height: 1.4; }
            #page-main .page-warp .page-left > .content .page-declaration .subtitle a {
              color: inherit;
              text-decoration: none; }
              #page-main .page-warp .page-left > .content .page-declaration .subtitle a:hover, #page-main .page-warp .page-left > .content .page-declaration .subtitle a:active {
                color: #007fff; }
        #page-main .page-warp .page-left > .content .page-footer {
          margin-top: 45px; }
    #page-main .page-warp .page-right {
      position: absolute;
      top: 0;
      right: 0;
      width: 240px; }
      @media screen and (max-width: 960px) {
        #page-main .page-warp .page-right {
          display: none; } }
      #page-main .page-warp .page-right .about-author {
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        margin-bottom: 18px; }
        #page-main .page-warp .page-right .about-author .head {
          padding: 12px 16px;
          border-bottom: 1px solid rgba(150, 150, 150, 0.1); }
          #page-main .page-warp .page-right .about-author .head .title {
            font-size: 14px;
            font-weight: normal;
            color: #333; }
        #page-main .page-warp .page-right .about-author .body {
          padding: 16px; }
          #page-main .page-warp .page-right .about-author .body .user-info {
            display: flex;
            align-items: center; }
            #page-main .page-warp .page-right .about-author .body .user-info .avatar {
              flex-shrink: 0;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              overflow: hidden;
              margin-right: 12px;
              background-color: #eee; }
              #page-main .page-warp .page-right .about-author .body .user-info .avatar img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                vertical-align: top; }
            #page-main .page-warp .page-right .about-author .body .user-info .info {
              min-width: 0;
              flex-grow: 1; }
              #page-main .page-warp .page-right .about-author .body .user-info .info .name {
                font-size: 16px;
                font-weight: bold;
                color: #000;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden; }
                #page-main .page-warp .page-right .about-author .body .user-info .info .name a {
                  color: inherit;
                  text-decoration: none; }
              #page-main .page-warp .page-right .about-author .body .user-info .info .description {
                margin-top: 10px;
                font-size: 15px;
                color: #72777b;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden; }
          #page-main .page-warp .page-right .about-author .body .stat-warp {
            margin-top: 16px; }
            #page-main .page-warp .page-right .about-author .body .stat-warp .stat-item {
              font-size: 15px;
              line-height: 25px;
              color: #000;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden; }
              #page-main .page-warp .page-right .about-author .body .stat-warp .stat-item + .stat-item {
                margin-top: 10px; }
              #page-main .page-warp .page-right .about-author .body .stat-warp .stat-item .icon {
                display: inline-block;
                vertical-align: top;
                font-size: inherit;
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                color: #66BAFF;
                background-color: #DEEFFF;
                border-radius: 50%;
                margin-right: 12px; }
      #page-main .page-warp .page-right #footer .footer-list {
        font-size: 12px;
        line-height: 1.6;
        color: #9aa3ab; }
        #page-main .page-warp .page-right #footer .footer-list .item::after {
          content: "·";
          margin: 0 6px;
          color: #c6cfda; }
        #page-main .page-warp .page-right #footer .footer-list a {
          color: inherit;
          text-decoration: none; }
          #page-main .page-warp .page-right #footer .footer-list a:hover, #page-main .page-warp .page-right #footer .footer-list a:active {
            color: #007fff; }

#face-tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 300px;
  height: 240px;
  background-color: #fff;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  display: none;
  opacity: 0;
  transition: opacity .25s; }
  #face-tooltip[data-show] {
    display: block; }
  #face-tooltip.show {
    opacity: 1; }
  #face-tooltip #arrow {
    position: absolute; }
    #face-tooltip #arrow:before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background-image: linear-gradient(45deg, transparent 50%, #fff 0);
      filter: drop-shadow(0 5px 18px rgba(0, 0, 0, 0.16));
      transform-origin: center; }
  #face-tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px; }
    #face-tooltip[data-popper-placement^='top'] > #arrow:before {
      transform: rotate(135deg); }
  #face-tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -4px; }
    #face-tooltip[data-popper-placement^='bottom'] > #arrow:before {
      transform: rotate(-45deg); }
  #face-tooltip[data-popper-placement^='left'] > #arrow {
    right: -4px; }
    #face-tooltip[data-popper-placement^='left'] > #arrow:before {
      transform: rotate(45deg); }
  #face-tooltip[data-popper-placement^='right'] > #arrow {
    left: -4px; }
    #face-tooltip[data-popper-placement^='right'] > #arrow:before {
      transform: rotate(-135deg); }
  #face-tooltip .tooltip-conntent {
    height: 100%;
    overflow: hidden; }
    #face-tooltip .tooltip-conntent input[type="radio"] {
      display: none; }
    #face-tooltip .tooltip-conntent .tab-head {
      display: flex; }
      #face-tooltip .tooltip-conntent .tab-head .tab-title {
        width: 0;
        flex-grow: 1;
        font-size: 16px;
        height: 35px;
        color: #999;
        border-bottom: 1px solid #999;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center; }
        #face-tooltip .tooltip-conntent .tab-head .tab-title img {
          width: 20px;
          height: 20px; }
    #face-tooltip .tooltip-conntent .tab-content {
      height: 200px;
      overflow: hidden;
      position: relative; }
      #face-tooltip .tooltip-conntent .tab-content .scroll-warp {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 17px);
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 10px;
        display: none; }
      #face-tooltip .tooltip-conntent .tab-content .content span {
        display: inline-block;
        vertical-align: top;
        padding: 6px 12px;
        border-radius: 4px;
        cursor: pointer; }
        #face-tooltip .tooltip-conntent .tab-content .content span:hover {
          background-color: whitesmoke;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
        #face-tooltip .tooltip-conntent .tab-content .content span img {
          width: 30px;
          height: 30px;
          vertical-align: top; }
    #face-tooltip .tooltip-conntent #one:checked ~ .tab-head .tab-title[for="one"] {
      color: #007fff;
      border-bottom-color: #007fff; }
    #face-tooltip .tooltip-conntent #one:checked ~ .tab-content .one {
      display: block; }
    #face-tooltip .tooltip-conntent #two:checked ~ .tab-head .tab-title[for="two"] {
      color: #007fff;
      border-bottom-color: #007fff; }
    #face-tooltip .tooltip-conntent #two:checked ~ .tab-content .two {
      display: block; }
    #face-tooltip .tooltip-conntent #three:checked ~ .tab-head .tab-title[for="three"] {
      color: #007fff;
      border-bottom-color: #007fff; }
    #face-tooltip .tooltip-conntent #three:checked ~ .tab-content .three {
      display: block; }

/*# sourceMappingURL=index.css.map */
