@font-face {
  font-family: "icon"; /* Project id 2465190 */
  src: url('//at.alicdn.com/t/font_2465190_hom027n4f6a.woff2?t=1625401893874') format('woff2'),
       url('//at.alicdn.com/t/font_2465190_hom027n4f6a.woff?t=1625401893874') format('woff'),
       url('//at.alicdn.com/t/font_2465190_hom027n4f6a.ttf?t=1625401893874') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e611";
}

.icon-smile:before {
  content: "\e783";
}

.icon-edit:before {
  content: "\e7e1";
}

.icon-file-fill:before {
  content: "\e857";
}

.icon-eye-fill:before {
  content: "\e86b";
}

.icon-line-medalxunzhang-01:before {
  content: "\e6b2";
}

.icon-check-square:before {
  content: "\e7a8";
}

.icon-border:before {
  content: "\e7a9";
}

.icon-sync:before {
  content: "\e786";
}

.icon-qqkongjian:before {
  content: "\e62e";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-weibo:before {
  content: "\e883";
}

.icon-wechat-fill:before {
  content: "\e884";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-wrench:before {
  content: "\e7e5";
}

.icon-message:before {
  content: "\e78a";
}

.icon-saoyisao:before {
  content: "\e603";
}

.icon-question-circle-fill:before {
  content: "\e846";
}

.icon-warning-circle-fill:before {
  content: "\e848";
}

.icon-dashboard-fill:before {
  content: "\e849";
}

.icon-message-fill:before {
  content: "\e84a";
}

.icon-appstore-fill:before {
  content: "\e853";
}

.icon-database-fill:before {
  content: "\e85f";
}

.icon-guanbi:before {
  content: "\e601";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-pinglunbeifen:before {
  content: "\e680";
}

.icon-huifu:before {
  content: "\e600";
}

.icon-share:before {
  content: "\e7e7";
}

.icon-caret-down:before {
  content: "\e8ec";
}

.icon-caret-up:before {
  content: "\e8ed";
}

.icon-LC_icon_user_fill_1:before {
  content: "\e612";
}

.icon-poweroff:before {
  content: "\e78c";
}

.icon-info-circle-fill:before {
  content: "\e844";
}

.icon-file-text-fill:before {
  content: "\e858";
}

.icon-like-fill:before {
  content: "\e869";
}

.icon-star-fill:before {
  content: "\e86a";
}

.icon-edit-fill:before {
  content: "\e86d";
}

.icon-tag-fill:before {
  content: "\e86e";
}

.icon-setting-fill:before {
  content: "\e871";
}

.icon-book_mark:before {
  content: "\e6d3";
}

.icon-bell-fill:before {
  content: "\e866";
}

.icon-search:before {
  content: "\e8ef";
}

