.mobile-directory-tree {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	display: none;
	&.visible {
		display: block;
	}
}
.mobile-directory-tree-mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	&.visible {
		opacity: 1;
	}
}
.mobile-directory-tree-close {
	position: absolute;
	top: 15px;
	left: 15px;
	cursor: pointer;
	&:active {
		opacity: 0.7;
	}
}
.mobile-directory-tree-close-icon {
	font-size: 18px;
	color: #000;
}
.mobile-directory-tree-head {
	height: 47px;
	padding: 15px;
	border-bottom: 1px solid #e4e6eb;
}
.mobile-directory-tree-title {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	line-height: 1;
	text-align: center;
	@include no-select();
}
.mobile-directory-tree-content {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 350px;
	background-color: #fff;
	border-radius: 4px 4px 0 0;
	transform: translate3d(0, 100%, 0);
	transition: transform 0.15s;
	backface-visibility: hidden;
	perspective: 1000;
	&.visible {
		transform: translate3D(0, 0, 0);
	}
}
.mobile-directory-tree-body {
	min-height: 80px;
	max-height: 303px;
	padding: 15px 15px 25px 15px;
	overflow-x: hidden;
	overflow-y: auto;
	.directory-tree-list-item-link-wrapper {
		padding-left: 0;
	}
	.directory-tree-list-item.active > .directory-tree-list-item-link-wrapper::before {
		display: none;
	}
	.directory-tree-list-item.depth-2 > .directory-tree-list-item-link-wrapper {
		padding-left: 11px;
	}
	.directory-tree-list-item.depth-3 > .directory-tree-list-item-link-wrapper {
		padding-left: 21px;
	}
	.directory-tree-list-item-link-wrapper:hover > .directory-tree-list-item-link {
		background-color: transparent;
	}
}
