.page-left {
  width: 700px;
  margin-right: 260px;
  margin-bottom: 30px;

  @media screen and (max-width:960px) {
    width: 100%;
    margin-right: 0;
  }

  //主体内容
  >.content {
    padding: 24px;
    padding-bottom: 36px;
    border-radius: 2px;
    background-color: #fff;

    @import "../skeleton/post";

    .content-warp {
      display: none;

      &.show {
        display: block;
      }
    }

    // 顶部作者信息
    .page-head {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 14px;

      .avatar {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        margin-right: 12px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #eee;

        img {
          @include imgFit();
        }
      }

      .info {
        min-width: 0;
        flex-grow: 1;
        margin-bottom: 5px;

        a {
          color: inherit;
          text-decoration: none;
        }

        .title {
          font-size: 16px;
          font-weight: bold;
          color: #333;
        }

        .subtitle {
          margin-top: 3px;
          font-size: 13px;
          color: #909090;

          time {
            letter-spacing: 1px;
          }
        }
      }

      .edit {
        flex-shrink: 0;
        width: 55px;
        height: 26px;
        line-height: 26px;
        font-size: 14px;
        text-decoration: none;
        text-align: center;
        border: 1px solid #6cbd45;
        color: #6cbd45;

        &:hover,
        &:active {
          opacity: .7;
        }

        @media screen and (max-width:420px) {
          width: 45px;
          height: 20px;
          line-height: 20px;
          font-size: 12px;
        }
      }
    }

    //最后更新时间
    .page-end-time {
      text-align: right;
      font-size: 12px;
      color: #909090;
      margin-bottom: 10px;
    }

    //文章内容
    .page-content {
      padding-bottom: 24px;

      .page-title {
        font-size: 30px;
        font-weight: bold;
        margin: 20px 0;
        line-height: 1.5;
      }

      @import "../markdown/index";
      @import "../markdown/my_style";
    }

    //版权
    .page-declaration {
      border-left: 6px solid #ddd;
      padding-left: 24px;
      margin-bottom: 30px;

      .title {
        font-weight: normal;
        font-size: 16px;
        line-height: 1.6;
        color: #007fff;
      }

      .subtitle {
        margin-top: 3px;
        font-size: 13px;
        color: #909090;
        line-height: 1.4;

        a {
          color: inherit;
          text-decoration: none;

          &:hover,
          &:active {
            color: #007fff;
          }
        }
      }
    }

    //评论容器
    .page-footer {
      margin-top: 45px;
    }
  }

}