@import "../mixins";

#page-main {
  padding-top: $header-h + 7px;

  .page-warp {
    margin-top: $main-top;
    position: relative;

    @import "../post/article-tool";
    @import "./page-left";
    @import "./page-right";
  }


}

//表情菜单
@import "../face/face-tootip";