@font-face {
  font-family: "jj-icon"; /* Project id 2465190 */
  src: url('iconfont.woff2?t=1714208013065') format('woff2'),
       url('iconfont.woff?t=1714208013065') format('woff'),
       url('iconfont.ttf?t=1714208013065') format('truetype');
}

.jj-icon {
  font-family: "jj-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jj-icon-time-circle:before {
  content: "\e784";
}

.jj-icon-check:before {
  content: "\e7fc";
}

.jj-icon-unorderedlist:before {
  content: "\e7f4";
}

.jj-icon-control:before {
  content: "\e794";
}

.jj-icon-snippets:before {
  content: "\e7bc";
}

.jj-icon-fenxiang:before {
  content: "\e72f";
}

.jj-icon-bg-fullscreen:before {
  content: "\e649";
}

.jj-icon-send:before {
  content: "\e916";
}

.jj-icon-arrow_up_fill:before {
  content: "\e817";
}

.jj-icon-daytime-mode:before {
  content: "\e839";
}

.jj-icon-daytime-mode-fill:before {
  content: "\e83a";
}

.jj-icon-dashboard:before {
  content: "\e78d";
}

.jj-icon-setting:before {
  content: "\e78e";
}

.jj-icon-appstore:before {
  content: "\e792";
}

.jj-icon-user:before {
  content: "\e7ae";
}

.jj-icon-file:before {
  content: "\e7bb";
}

.jj-icon-file-text:before {
  content: "\e7b9";
}

.jj-icon-comment:before {
  content: "\e8e8";
}

.jj-icon-down:before {
  content: "\e60a";
}

.jj-icon-tongzhixiaoxi:before {
  content: "\e615";
}

.jj-icon-sousuo:before {
  content: "\e611";
}

.jj-icon-smile:before {
  content: "\e783";
}

.jj-icon-edit:before {
  content: "\e7e1";
}

.jj-icon-file-fill:before {
  content: "\e857";
}

.jj-icon-eye-fill:before {
  content: "\e86b";
}

.jj-icon-eye:before {
  content: "\e78f";
}

.jj-icon-line-medalxunzhang-01:before {
  content: "\e6b2";
}

.jj-icon-check-square:before {
  content: "\e7a8";
}

.jj-icon-border:before {
  content: "\e7a9";
}

.jj-icon-info-circle:before {
  content: "\e77e";
}

.jj-icon-sync:before {
  content: "\e786";
}

.jj-icon-qqkongjian:before {
  content: "\e62e";
}

.jj-icon-QQ:before {
  content: "\e882";
}

.jj-icon-weibo:before {
  content: "\e883";
}

.jj-icon-wechat-fill:before {
  content: "\e884";
}

.jj-icon-like:before {
  content: "\e7c8";
}

.jj-icon-wrench:before {
  content: "\e7e5";
}

.jj-icon-message:before {
  content: "\e78a";
}

.jj-icon-saoyisao:before {
  content: "\e603";
}

.jj-icon-question-circle-fill:before {
  content: "\e846";
}

.jj-icon-warning-circle-fill:before {
  content: "\e848";
}

.jj-icon-dashboard-fill:before {
  content: "\e849";
}

.jj-icon-message-fill:before {
  content: "\e84a";
}

.jj-icon-appstore-fill:before {
  content: "\e853";
}

.jj-icon-database-fill:before {
  content: "\e85f";
}

.jj-icon-guanbi:before {
  content: "\e601";
}

.jj-icon-right:before {
  content: "\e7eb";
}

.jj-icon-left:before {
  content: "\e7ec";
}

.jj-icon-pinglunbeifen:before {
  content: "\e680";
}

.jj-icon-huifu:before {
  content: "\e600";
}

.jj-icon-share:before {
  content: "\e7e7";
}

.jj-icon-caret-down:before {
  content: "\e8ec";
}

.jj-icon-caret-up:before {
  content: "\e8ed";
}

.jj-icon-LC_icon_user_fill_1:before {
  content: "\e612";
}

.jj-icon-poweroff:before {
  content: "\e78c";
}

.jj-icon-info-circle-fill:before {
  content: "\e844";
}

.jj-icon-file-text-fill:before {
  content: "\e858";
}

.jj-icon-like-fill:before {
  content: "\e869";
}

.jj-icon-star-fill:before {
  content: "\e86a";
}

.jj-icon-edit-fill:before {
  content: "\e86d";
}

.jj-icon-tag-fill:before {
  content: "\e86e";
}

.jj-icon-setting-fill:before {
  content: "\e871";
}

.jj-icon-book_mark:before {
  content: "\e6d3";
}

.jj-icon-search:before {
  content: "\e8ef";
}

