@media (min-resolution: 2dppx) {
  .image {
    background-image: #12321313;
  }
}

body {
  background-color: $bg;
  background-image: url("~@/assets/images/emote/emoji/0afecaf3a3499479af946f29749e1a6c285b6f65.png");
}

@import "./a"