//header
@import "@/assets/scss/default/header.scss";
@import "@/assets/scss/default/nav.scss";


body {
  height: 1200px;
}

#main {
  padding-top: calc(#{$header-h} + #{$nav-h} + #{$main-top});

  .content {
    position: relative;

    .left {
      width: 700px;
      border-radius: 2px;
      background-color: $white;
      margin-right: 260px;

      @media screen and (max-width:960px) {
        width: 100%;
        margin-right: 0;
      }

      // 快捷导航
      .head-nav {
        padding: 16px 12px;
        border-bottom: 1px solid $border-color;

        a.nav-item {
          display: inline-block;
          vertical-align: top;
          font-size: 14px;
          line-height: 1;
          color: $text-color;
          text-decoration: none;
          padding: 0 14px;

          &+.nav-item {
            border-left: 1px solid darken($border-color, 10%);
          }

          &.active,
          &:hover,
          &:active {
            color: $primary;
          }
        }
      }

      //骨架屏
      @import "@/assets/scss/index/skeleton";

      // 文章列表
      #article-list-wrap {
        &.hide {
          height: 0;
          display: none;
          overflow: hidden;
        }

        @import "@/assets/scss/index/mini-article-card";
      }



      //自动加载
      @import "@/assets/scss/index/auto-load";
    }
  }

}