.article-tool {
	position: fixed;
	top: 140px;
	margin-left: -84px;
	z-index: 2;
}
.article-tool-item {
	display: block;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background-color: var(--jj-article-tool-item-bg);
	border-radius: 50%;
	box-shadow: 0 2px 4px 0 var(--jj-article-tool-item-box-shadow);
	font-size: 20px;
	color: var(--jj-article-tool-item-color);
	text-decoration: none;
	transition: color 0.15s linear;
	cursor: pointer;
	& + & {
		margin-top: 20px;
	}
	&:hover {
		color: var(--jj-article-tool-item-color-hover);
	}
	&.active {
		color: var(--jj-article-tool-item-color-active);
	}
}
.article-tool-item.badge {
	position: relative;
	&::after {
		content: attr(badge);
		position: absolute;
		top: 0;
		left: 75%;
		min-width: 17px;
		height: 17px;
		line-height: 17px;
		padding: 0 5px;
		font-size: 12px;
		color: var(--jj-article-tool-item-badge);
		background-color: var(--jj-article-tool-item-badge-bg);
		border-radius: 9999px;
		white-space: nowrap;
		transition: all 0.15s linear;
	}
	&:active {
		opacity: 0.7;
	}
	&.active::after {
		background-color: var(--jj-article-tool-item-badge-bg-active);
	}
}
.article-tool-item-icon {
	font-size: inherit;
	line-height: inherit;
}
.article-tool-dividing {
	width: 32px;
	height: 1px;
	background-color: var(--jj-article-tool-dividing-bg);
	margin: 20px auto;
}
.article-tool-item.share {
	position: relative;
	&:hover .article-tool-share {
		display: block;
	}
}
.article-tool-share {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	width: 114px;
	margin-left: 17px;
	padding: 9px 0;
	background-color: var(--jj-article-tool-share-bg);
	border-radius: 4px;
	box-shadow: 0 8px 24px var(--jj-article-tool-share-box-shadow);
	&::before {
		content: "";
		position: absolute;
		top: 12px;
		left: 0;
		margin-left: -24px;
		border: 12px solid transparent;
		border-right-color: var(--jj-article-tool-share-bg);
	}
}
.article-tool-share-item {
	display: flex;
	align-items: center;
	padding: 0 15px;
	height: 44px;
	font-size: 14px;
	color: var(--jj-article-tool-share-item);
	text-decoration: none;
	&:hover {
		background-color: var(--jj-article-tool-share-item-bg-hover);
	}
}
.article-tool-share-item-icon {
	flex-shrink: 0;
	font-size: inherit;
	line-height: inherit;
	margin-right: 8px;
}
.article-tool-share-item-title {
	flex-grow: 1;
	min-width: 0;
	text-align: left;
	@include one-line();
}
.article-tool-share-item.wx {
	position: relative;
	&:hover .article-tool-wx-qrcode {
		display: block;
	}
}
.article-tool-wx-qrcode {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: 8px;
	width: 120px;
	background-color: var(--jj-article-tool-wx-qrcode-bg);
	border-radius: 4px;
	padding: 20px 0;
	box-shadow: 0 8px 24px var(--jj-article-tool-wx-qrcode-box-shadow);
}
.article-tool-wx-qrcode-img {
	display: block;
	width: 80px;
	height: 80px;
	margin: 0 auto;
	margin-bottom: 12px;
}
.article-tool-wx-qrcode-info {
	font-size: 14px;
	line-height: 22px;
	color: var(--jj-article-tool-wx-qrcode-info);
}
.immersion-mode-btn {
	&:active {
		opacity: 0.7;
	}
}

@media screen and (max-width: 1000px) {
	.article-tool {
		display: none;
	}
}
