.header {
	box-shadow: 0 1px 2px 0 var(--jj-header-box-shadow);
}
.article-content-wrapper {
	background-color: var(--jj-article-content-wrapper-bg);
	padding: 32px;
	border-radius: 4px;
	margin-bottom: 20px;
}

.post-right-sticky {
	position: sticky;
	top: $headerGap;
	width: inherit;
	transition: top 0.2s;
	&.heighten {
		top: $headerH + $headerGap;
	}
}

@media screen and (max-width: 600px) {
	.article-content-wrapper {
		padding: 24px 12px;
	}
}
