.article-card-wrap {
  &.hidden {
    display: none;
  }
}
.article-card {
  padding: 12px 20px;
  background-color: var(--jj-article-card-bg);
  position: relative;
  cursor: pointer;
  & + &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    height: 1px;
    margin-top: -0.5px;
    background-color: var(--jj-article-card-border);
  }
  &:hover {
    background-color: var(--jj-article-card-bg-hover);
  }
}
.article-card-hidden-a {
  display: none;
}
.article-card-head {
  height: 22px;
  line-height: 22px;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
  color: var(--jj-article-card-head-color);
}
.article-card-user,
.article-card-time {
  flex-shrink: 0;
}
.article-card-user {
  color: var(--jj-article-card-user-color);
}
.article-card-time {
  position: relative;
  padding: 0 12px;
  margin: 0 12px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 1px;
    height: 12px;
    background-color: var(--jj-article-card-head-border);
    transform: translateY(-50%);
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}
.article-card-tag {
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: var(--jj-article-card-tag-color-hover);
    }
    &:active {
      opacity: 0.7;
    }
  }
}
.article-card-tag-separator {
  margin: 0 8px;
}
.article-card-body {
  display: flex;
  align-items: center;
}
.article-card-main {
  flex-grow: 1;
  min-width: 0;
  padding: 10px 0;
}
.article-card-title {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: var(--jj-article-card-title-color);
  @include one-line();
}
.article-card-desc {
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 22px;
  color: var(--jj-article-card-desc-color);
  @include multi-line(2);
}
.article-card-footer {
  font-size: 13px;
  line-height: 20px;
  color: var(--jj-article-card-footer-color);
}
.article-card-footer-item {
  color: inherit;
  text-decoration: none;
  & + & {
    margin-left: 20px;
  }
}
a.article-card-footer-item {
  &:hover {
    color: var(--jj-article-card-footer-color-hover);
  }
  &:active {
    opacity: 0.7;
  }
}
.article-card-footer-item-icon {
  font-size: inherit;
  line-height: inherit;
  // margin-right: 4px;
}
.article-card-thumb {
  flex-shrink: 0;
  margin-left: 24px;
  width: 120px;
  height: 80px;
  overflow: hidden;
}
.article-card-thumb-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

@media screen and (max-width: 640px) {
  .article-nav {
    display: none;
  }
  .article-card {
    padding: 12px;
    & + & {
      margin-top: 10px;
    }
    & + &::before {
      display: none;
    }
  }
  .article-card-thumb {
    width: 80px;
    height: 54px;
    margin-left: 12px;
  }
}
@media screen and (max-width: 420px) {
  .article-card {
    & + & {
      margin-top: 8px;
    }
  }
}
