@charset "UTF-8";
#index-main {
  padding-top: 60px; }
  #index-main #index-main-nav {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: all .2s;
    transform: translateZ(0);
    z-index: 2; }
    #index-main #index-main-nav.top {
      transform: translate3d(0, -60px, 0); }
    #index-main #index-main-nav .main-nav {
      position: relative;
      padding-right: 80px; }
      @media screen and (max-width: 960px) {
        #index-main #index-main-nav .main-nav {
          padding-right: 0; } }
      #index-main #index-main-nav .main-nav .index-nav-warp {
        overflow: hidden; }
        #index-main #index-main-nav .main-nav .index-nav-warp .nav-content {
          display: flex;
          white-space: nowrap; }
      #index-main #index-main-nav .main-nav .nav-item {
        height: 45px;
        line-height: 45px;
        padding: 0 12px;
        font-size: 14px;
        text-decoration: none;
        color: #71777c;
        cursor: pointer; }
        #index-main #index-main-nav .main-nav .nav-item:first-child {
          padding-left: 0; }
        #index-main #index-main-nav .main-nav .nav-item.active, #index-main #index-main-nav .main-nav .nav-item:hover, #index-main #index-main-nav .main-nav .nav-item:active {
          color: #007fff; }
      #index-main #index-main-nav .main-nav .nav-item.right-config {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px; }
        @media screen and (max-width: 960px) {
          #index-main #index-main-nav .main-nav .nav-item.right-config {
            display: none; } }
  #index-main #index-content {
    padding-top: 60px; }
    #index-main #index-content .index-container {
      max-width: 960px;
      margin: auto; }
    #index-main #index-content .index-container > .content {
      position: relative; }
      #index-main #index-content .index-container > .content .index-left {
        width: 700px;
        border-radius: 2px;
        background-color: #fff;
        margin-right: 260px; }
        @media screen and (max-width: 960px) {
          #index-main #index-content .index-container > .content .index-left {
            width: 100%;
            margin-right: 0; } }
        #index-main #index-content .index-container > .content .index-left .head-nav {
          padding: 16px 12px;
          border-bottom: 1px solid rgba(151, 151, 151, 0.1); }
          #index-main #index-content .index-container > .content .index-left .head-nav a.nav-item {
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            line-height: 1;
            color: #909090;
            text-decoration: none;
            padding: 0 14px; }
            #index-main #index-content .index-container > .content .index-left .head-nav a.nav-item + .nav-item {
              border-left: 1px solid rgba(151, 151, 151, 0.2); }
            #index-main #index-content .index-container > .content .index-left .head-nav a.nav-item.active, #index-main #index-content .index-container > .content .index-left .head-nav a.nav-item:hover, #index-main #index-content .index-container > .content .index-left .head-nav a.nav-item:active {
              color: #007fff; }
        #index-main #index-content .index-container > .content .index-left .entry-list-wrap.hide {
          height: 0;
          display: none;
          overflow: hidden; }
        #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card {
          display: flex;
          align-items: center;
          padding: 18px 24px;
          cursor: pointer; }
          #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card + .entry-card {
            border-top: 1px solid rgba(178, 186, 194, 0.15); }
          #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box {
            min-width: 0;
            flex-grow: 1; }
            #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-top {
              font-size: 12px;
              color: #b2bac2;
              word-break: break-all; }
              #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-top a {
                color: inherit;
                text-decoration: none; }
                #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-top a:hover, #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-top a:active {
                  color: #007fff; }
              #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-top .author::after,
              #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-top .time::after {
                content: "·";
                color: #b2bac2;
                margin: 0 5px; }
              #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-top .classify-cut::before {
                content: "/";
                color: #b2bac2;
                margin: 0 5px; }
            #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-center {
              margin-top: 6px;
              margin-bottom: 12px; }
              #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-center .title {
                display: block;
                color: #2e3135;
                text-decoration: none; }
                #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-center .title h2 {
                  font-size: 17px;
                  line-height: 1.2;
                  font-weight: bold;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden; }
                #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-center .title:hover, #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-center .title:active {
                  text-decoration: underline; }
              #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-center .description {
                font-size: 14px;
                line-height: 22px;
                color: #4e5969;
                margin: 13px 0;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden; }
            #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-bottom {
              display: flex;
              align-items: center; }
              #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-bottom .btn {
                font-size: 13px;
                font-weight: bold;
                line-height: 1;
                color: #b2bac2;
                padding: 0 10px;
                height: 24px;
                display: flex;
                align-items: center;
                border: 1px solid #edeeef; }
                #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-bottom .btn:hover {
                  background-color: #f7f8fa; }
                #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-bottom .btn .icon {
                  font-size: 12px;
                  margin-right: 3px;
                  font-weight: normal; }
              #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-bottom .share {
                display: none;
                cursor: pointer;
                position: relative; }
                #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-bottom .share.show-qr-code {
                  display: flex; }
                  #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-bottom .share.show-qr-code .share-panel {
                    display: block; }
                #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-bottom .share .share-panel {
                  position: absolute;
                  top: 100%;
                  left: -1px;
                  margin-top: 8px;
                  z-index: 1;
                  display: none; }
                  #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-bottom .share .share-panel .qr-code-tooltip {
                    width: 132px;
                    font-size: 14px;
                    color: #8f969c;
                    text-align: center;
                    padding: 7px 10px;
                    padding-bottom: 7px;
                    background-color: #fff;
                    border: 1px solid rgba(217, 222, 224, 0.99);
                    box-shadow: 0 1px 2px 0 #e0e4e9;
                    -moz-user-select: none;
                    /*火狐*/
                    -webkit-user-select: none;
                    /*webkit浏览器*/
                    -ms-user-select: none;
                    /*IE10*/
                    -khtml-user-select: none;
                    /*早期浏览器*/
                    -o-user-select: none;
                    /* Opera*/
                    user-select: none; }
                    #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-bottom .share .share-panel .qr-code-tooltip:hover {
                      background-color: #f7f8fa; }
                    #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-bottom .share .share-panel .qr-code-tooltip .qr-code-head {
                      height: 24px;
                      display: flex;
                      align-items: center;
                      justify-content: center; }
                      #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-bottom .share .share-panel .qr-code-tooltip .qr-code-head .icon {
                        font-size: 16px !important;
                        color: #007fff;
                        margin-right: 5px; }
                    #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-bottom .share .share-panel .qr-code-tooltip .qr-code-body {
                      padding: 5px;
                      padding-bottom: 0; }
                      #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .content-box .info-box .info-bottom .share .share-panel .qr-code-tooltip .qr-code-body img {
                        width: 100%;
                        vertical-align: top;
                        image-rendering: pixelated; }
          #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .entry-img {
            flex-shrink: 0;
            width: 60px;
            height: 60px;
            margin-left: 24px;
            border-radius: 2px; }
            #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .entry-img img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              vertical-align: top; }
            @media screen and (max-width: 600px) {
              #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card .entry-img {
                display: none; } }
          #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card:hover {
            background-color: rgba(0, 0, 0, 0.01); }
            #index-main #index-content .index-container > .content .index-left .entry-list-wrap .entry-card:hover .content-box .info-bottom .share {
              display: flex; }
        #index-main #index-content .index-container > .content .index-left .auto-load {
          padding: 5px;
          text-align: center;
          background-color: #fff;
          border-top: 1px solid #edeeef;
          -moz-user-select: none;
          /*火狐*/
          -webkit-user-select: none;
          /*webkit浏览器*/
          -ms-user-select: none;
          /*IE10*/
          -khtml-user-select: none;
          /*早期浏览器*/
          -o-user-select: none;
          /* Opera*/
          user-select: none;
          display: none; }
          #index-main #index-content .index-container > .content .index-left .auto-load.show {
            display: block; }
          #index-main #index-content .index-container > .content .index-left .auto-load img {
            width: 40px;
            vertical-align: top; }
          #index-main #index-content .index-container > .content .index-left .auto-load .next,
          #index-main #index-content .index-container > .content .index-left .auto-load .prev {
            display: none; }
          #index-main #index-content .index-container > .content .index-left .auto-load .no-more {
            font-size: 14px;
            line-height: 40px;
            color: #b2bac2; }
      #index-main #index-content .index-container > .content .index-right {
        position: absolute;
        top: 0;
        right: 0;
        width: 240px; }
        @media screen and (max-width: 960px) {
          #index-main #index-content .index-container > .content .index-right {
            display: none; } }
        #index-main #index-content .index-container > .content .index-right .recent-comment {
          background-color: #fff;
          margin-bottom: 16px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); }
          #index-main #index-content .index-container > .content .index-right .recent-comment .recent-head {
            padding: 12px 16px;
            font-size: 14px;
            line-height: 1;
            color: #333;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba(151, 151, 151, 0.1); }
            #index-main #index-content .index-container > .content .index-right .recent-comment .recent-head .icon {
              font-size: 12px;
              color: #999;
              margin-right: 5px; }
          #index-main #index-content .index-container > .content .index-right .recent-comment .recent-body .item .link {
            display: flex;
            align-items: center;
            color: inherit;
            text-decoration: none;
            padding: 12px 16px; }
            #index-main #index-content .index-container > .content .index-right .recent-comment .recent-body .item .link:hover, #index-main #index-content .index-container > .content .index-right .recent-comment .recent-body .item .link:active {
              background-color: rgba(216, 216, 216, 0.1); }
          #index-main #index-content .index-container > .content .index-right .recent-comment .recent-body .item .comment-avatar {
            flex-shrink: 0;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 6px; }
            #index-main #index-content .index-container > .content .index-right .recent-comment .recent-body .item .comment-avatar img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              vertical-align: top; }
          #index-main #index-content .index-container > .content .index-right .recent-comment .recent-body .item .user-info {
            min-width: 0;
            flex-grow: 1; }
            #index-main #index-content .index-container > .content .index-right .recent-comment .recent-body .item .user-info .title {
              font-size: 14px;
              font-weight: normal;
              color: #333;
              margin-bottom: 3px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden; }
            #index-main #index-content .index-container > .content .index-right .recent-comment .recent-body .item .user-info .subtitle {
              font-size: 12px;
              color: #909090;
              word-wrap: break-word;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden; }
              #index-main #index-content .index-container > .content .index-right .recent-comment .recent-body .item .user-info .subtitle img {
                width: 20px;
                height: 20px;
                vertical-align: sub;
                margin-left: 4px; }
                #index-main #index-content .index-container > .content .index-right .recent-comment .recent-body .item .user-info .subtitle img + img {
                  margin-right: 2px; }
          #index-main #index-content .index-container > .content .index-right .recent-comment .recent-footer {
            padding: 12px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #007fff;
            border-top: 1px solid rgba(151, 151, 151, 0.1); }
            #index-main #index-content .index-container > .content .index-right .recent-comment .recent-footer a {
              font-size: 14px;
              color: inherit;
              text-decoration: none; }
            #index-main #index-content .index-container > .content .index-right .recent-comment .recent-footer .icon {
              font-size: 14px;
              margin-left: 5px; }
        #index-main #index-content .index-container > .content .index-right .theme-tool {
          background-color: #fff;
          margin-bottom: 16px;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); }
          #index-main #index-content .index-container > .content .index-right .theme-tool .item .link {
            color: inherit;
            text-decoration: none;
            display: flex;
            align-items: center;
            padding: 12px; }
            #index-main #index-content .index-container > .content .index-right .theme-tool .item .link:hover, #index-main #index-content .index-container > .content .index-right .theme-tool .item .link:active {
              background-color: rgba(216, 216, 216, 0.1); }
            #index-main #index-content .index-container > .content .index-right .theme-tool .item .link .tool-pic {
              flex-shrink: 0;
              width: 36px;
              height: 36px;
              margin-right: 10px; }
              #index-main #index-content .index-container > .content .index-right .theme-tool .item .link .tool-pic img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                vertical-align: top; }
            #index-main #index-content .index-container > .content .index-right .theme-tool .item .link .title {
              min-width: 0;
              flex-grow: 1;
              font-size: 14px;
              font-weight: normal;
              color: #333;
              line-height: 1;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden; }
        #index-main #index-content .index-container > .content .index-right #footer .footer-list {
          font-size: 12px;
          line-height: 1.6;
          color: #9aa3ab; }
          #index-main #index-content .index-container > .content .index-right #footer .footer-list .item::after {
            content: "·";
            margin: 0 6px;
            color: #c6cfda; }
          #index-main #index-content .index-container > .content .index-right #footer .footer-list a {
            color: inherit;
            text-decoration: none; }
            #index-main #index-content .index-container > .content .index-right #footer .footer-list a:hover, #index-main #index-content .index-container > .content .index-right #footer .footer-list a:active {
              color: #007fff; }

.index-nav-tooltip {
  position: absolute;
  max-width: 360px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  line-height: normal;
  white-space: normal;
  display: none;
  opacity: 0;
  transition: opacity .25s; }
  .index-nav-tooltip[data-show] {
    display: block; }
  .index-nav-tooltip.show {
    opacity: 1; }
  .index-nav-tooltip a {
    display: inline-block;
    font-size: 13px;
    color: #71777D;
    text-decoration: none;
    background-color: #F4F5F5;
    padding: 2px 12px;
    border-radius: 200px;
    margin-right: 12px;
    margin-bottom: 12px; }
    .index-nav-tooltip a:hover, .index-nav-tooltip a:active {
      color: #007fff; }
    .index-nav-tooltip a.active {
      color: #fff;
      background-color: #007fff; }

/*# sourceMappingURL=index.css.map */
