//分享
.share {
  display: none;
  cursor: pointer;
  position: relative;

  &.show-qr-code {
    display: flex;

    .share-panel {
      display: block;
    }
  }

  //文章二维码
  .share-panel {
    position: absolute;
    top: 100%;
    left: -1px;
    margin-top: 8px;
    z-index: 1;
    display: none;

    .qr-code-tooltip {
      width: 132px;
      font-size: 14px;
      color: #8f969c;
      text-align: center;
      padding: 7px 10px;
      padding-bottom: 7px;
      background-color: #fff;
      border: 1px solid rgba(217, 222, 224, .99);
      box-shadow: 0 1px 2px 0 #e0e4e9;
      @include no-select();

      &:hover {
        background-color: #f7f8fa;
      }

      .qr-code-head {
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          font-size: 16px !important;
          color: #007fff;
          margin-right: 5px;
        }
      }

      .qr-code-body {
        padding: 5px;
        padding-bottom: 0;

        img {
          width: 100%;
          vertical-align: top;
          image-rendering: pixelated;
        }
      }
    }
  }
}