#mini-article-skeleton-wrap {
  .skeleton-content {
    padding: 20px;

    .skeleton-line {
      height: 14px;
      background-image: linear-gradient(90deg, #fff, #edeff1, #fff);
      background-size: 480px 480px;
      animation: skeleton-loading .6s linear infinite;

      &:first-child {
        margin-top: 8px;
        width: 40%;
      }

      &:nth-child(3) {
        width: 80%;
      }

      &:last-child {
        width: 60%;
      }

      &+.skeleton-line {
        margin-top: 16px;
      }
    }

    @keyframes skeleton-loading {
      from {
        background-position: 0 0;
      }

      to {
        background-position: 480px 0;
      }
    }

  }
}