.next-article {
	margin-bottom: 20px;
}
.next-article-content {
	background-color: var(--jj-next-article-bg);
	border-radius: 4px;
}
.next-article-head {
	padding: 0 20px;
	margin-bottom: 8px;
}
.next-article-title {
	padding: 16px 0;
	font-size: 16px;
	font-weight: none;
	line-height: 24px;
	color: var(--jj-next-article-title);
	border-bottom: 1px solid var(--jj-next-article-title-border);
}
.next-article-body {
	padding: 8px 20px 16px;
}
.next-article-link {
	display: block;
	font-size: 14px;
	color: var(--jj-next-article-link);
	line-height: 1.42;
	text-decoration: none;
	@include one-line();
	&:hover {
		color: var(--jj-next-article-link-hover);
	}
	&:active {
		opacity: 0.7;
	}
}
