.article-empty {
	background-color: var(--jj-article-empty-bg);
	& + .jj-pagination,
	& + .jj-pagination-button,
	& + .jj-pagination-button-no-more {
		display: none;
	}
}
.article-empty-content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
	font-size: 14px;
	color: var(--jj-article-empty-color);
}
