// 悬浮菜单
#fixed-tool {
  position: fixed;
  right: 24px;
  bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;


  .btn {
    display: block;
    width: 38px;
    height: 38px;
    background-color: #fff;
    color: #909090;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .05);
    cursor: pointer;
    outline: none;
    @include no-highlight();

    &+.btn {
      margin-top: 12px;
    }

    &:hover {
      box-shadow: 0 0 5px #ddd;
    }

    &:active {
      opacity: .7;
    }

    i {
      font-size: 14px;
    }
  }

  //返回顶部
  .top {
    display: none;

    &.show {
      display: block;
    }

    @media screen and (max-width:414px) {
      display: none;

      &.show {
        display: none;
      }
    }
  }
}