@charset "UTF-8";
.markdown-body blockquote > :first-child {
	margin-top: 0;
}
.markdown-body blockquote > :last-child {
	margin-bottom: 0;
}
.markdown-body {
	overflow: hidden;
	line-height: 1.75;
	font-size: 15px;
	background-image: linear-gradient(90deg, rgba(72, 42, 10, 0.05) 5%, rgba(72, 42, 10, 0) 0),
		linear-gradient(1turn, rgba(72, 42, 10, 0.05) 5%, rgba(72, 42, 10, 0) 0);
	background-size: 20px 20px;
	background-position: 50%;
	padding-top: 0 !important;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
	line-height: 1.5;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.markdown-body h1 {
	position: relative;
	display: flex;
	border-bottom: 5px solid #6d4e00;
	line-height: 35px;
	letter-spacing: 1px;
	font-size: 25px;
	padding-left: 25px;
	color: #664900;
	text-shadow: 1px 1px 1px #8a6200;
	padding-bottom: 0;
}
.markdown-body h1:before {
	content: "";
	display: flex;
	position: absolute;
	left: 0;
	top: 3px;
	bottom: 0;
	margin: auto;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAMAAACahl6sAAAAQlBMVEVHcEwlRnqtZBj76q4lRnolRnolRnolRnolRnokRnr/gGtrVUeLXDBKTl+hYSHasW7Ik0zs0JG4dCvUdEE0SW+rYxrLQJfjAAAACnRSTlMA////0H/xUaMi5MCoTwAACfVJREFUeNrtnQl3qygUgJ9GXAqosfL//+pgmgXwXmRNJGdu55xO+6rx8+6I8O9fehmGriN93zdN07bVXdpW/ih/SbpuGP6dXbpOXv7z2i3S9ISck2eQOnAhMHG64VQQbmrAaM4B05GmipaGdB+m6BNQPBXzMYtKR3EPbB/RS5eY4g+lIW9WBqnySCvVMrzRpqqs0g9nwVg5p1KYlHEchRT5bftp+y3n6xlQDjAkABtrKULU9f377ev+4/1/NiT+URRiZRhrcZP6WLa/Gq005BORaqXsdYEuHPIP798ZxSyt6d5sVfxJESRCsvB32lfXwhRjnUBGmKXNoJQe04VIASJqRC/9G7yDsyQMiloYz+0pHYghEoPISAGgpDSvHsCoMwmA0mfjSG5UOsqah2RodkljzMkhZZdamiEDB8+Nsbk9T04yGNljDXGOZZ6u0+Tj9DuvbyNJBuPO0ABtLNPlJtfZJ4CNNCWJoY8gddwxNpm9YrHh9DEkBoeMud4Kma8XRZaYpBJOYvg59U9wOsblMvmGrzQe30dyqFZ1dxPfO0FT5BOdw989THVs4q1TFk+iN4PMu7CaLpd4EJOExNaJLE4d0xQKYpJ0cY5Ozcwwu6WOu2cs9TUYxPB4b4fvLRzTUXbT1HH7y0BnB0j6CAehkPFfFzd1TMsi6sU1/P4VM9NiISHBlYnBMR+kad075sXlmMehj1twnfTUqJH4GJfqIKte7S72emPnHbdiYHIB0e6ATjKq1UoTaFh6wBL2csMIVo9fH/v6QRHAgoxrOHQQxG/36tC1ODmGOeBGBRmXalgcdhDQ1xF1vI6a3DF2d4r7G1enOUgNOshlFq7qUCxrca9ldiCam7ilxRbP6JbOYsYtfLFmkcXEgLG1DN/6eroxHjqh5bh+Uw27e1oWVK7pN+AqwzUcq/UYTPw8nWufLFBHN2zcxLRYlmGPs6rA2Wy0uJe/E7TknbHIa1WH1bLA8DAj3JpxET+FCNCWZ5uNT6jxTPZK/1mXoCBeKlGLRT2lP69XN3XdqqCojKX1ZVda6iD2McjeXSHa0I+AHd2InGAJgjRVM6gOBfygDrarRJnho6eQBbrns+HkcNUCWtYClJa66qFgPbqqZEBTCOAgRqxCOhQBWpZeIC6QBq91hEoI5unTjsMsK9DCFigY9WNn19hgVCrELalrTw6WnYMYzjHhQ2/7G2xTx1HvwpzSe4cVi5ORQQwMW9+72FU5L4gGsa6Yu1RcDeIhs64Qs8izt0vGH+n9/IKaIlYpM2UqkYOrwwq5CgBjWpyGtxaonxe4KaJ3hx+7O0HaqVkxLBPj8FmBVmjNevIUFhUuDmMq5NDV9RwyPe/95IvxAhG7ymqxHGE5sZJL2kPLUhUinkXfrnFwGFwXD99djNLSFh/meXEb2B6Oyiwm0I7BC+OlTlOVPk9K8CIYzu5YHwKDTI6XAo5lz3WEqEXwQRKhh5cyLa6D81P4PXBw984as9YaGXHwx4Ba8rmOldUat/BHt9cQ38AaljnBdCJqs60OcXVDJZP//ZwSWtV9FpHNtgg22KuYx/U2tB5Mcp1TYOiphNhiFjgWeJ3DL2OZpuuUisIoUyzZEJ76I+LmyqWdv8LwnEiwMYczihjxeqtBsuFJSTg2oD1ETQx4v6D1VleSZW1xCwvAfVGWpQ069kgrQksAUW2rReYzsboIjSABuDQX0QJwB9cnZVgWVgE31vrklAJnEmVObykgYCk/VGX5OlpuKb5eiovUAvJ2tMstw0kIkNdpiSA91K6XA6K8CVCyr4PePhTo65q3DyX7OpTbSVk1PB62mhJ9HSpSqtKaESxsFRm0tLBVcvTV+vbBrLRK4hC7aitN9B0ZpX6vNMgjGIt5ZdmMv32KrmprD1afsPd4FEhThK0+WfTl3kpd482AGvG3jQdZK1+t8ireDswhofigRb3fxfI/4jj+xkffUX/1ccxxhEP9qyyBEH9Cx9vhf8TB7eiSpBHjZVSa4whQMJC1TqIR6q8RERtjOr2ID0yx3oYi0oAIvZCPz4eG64p3ObuREeOHUIR3MBVJwq9yll5P7KHdiPBOiOoRa/AjXz21J3k04l+i8OjErj4kaXWQiIVO/EvA+KLRAEnUVomtjPd6SvR3RLoeMT54nKFH1EqtkkEGFaQuTlSQrsxhRiOIt51S/Ho8B11+FUlwRaHnU4utEI38/mgSjRJ8PhWEtN6Z6WcncQOU4efjKoh3zfi7/+DfhPrwOZ9a/iYBiVJJxPlei3CqIDTYEqAPFow5/c71fAdVIwmo4n+cTIGbr2n9NULAE5ifcNNS63hvEOFk0wxYnICBBZ0I9xERBVILF0uggNdxuOkR4S6ngvgPmArzHv4KpMKGQFjQ+Rw6q9dC6R6dgZaJF7RVWIH0BTY9h+fz0ohHOyLuy+He/hN4GUR3/RxcBx2f76izarI9CaXmzRmhNQuSfIgJkva5GzN6HJbhQxCNsDGDSh56plmef6sg2eaXPsYBt5W+H6VE6omG6hOS1w4hiTWiThbJ1YO+RSO1vrpMlomf6nhQGz0m7qT6W04XOUHyzhZ4rkG+0hxL66oDW9mnPWyL3TMmssxyQUwr01CHX7b2OvUIaqS48TnMtAoEQTQixJeAlDfSiGmk/l8jpwIpTyFqOfeNIHWBooC036ERtUQp2tm/CKT5jjySbxTlvUVj2yhjvyWDVL3yfKRojXwLSEWUp7q0PBAKPp7m5YGoT3WH7wAZ1BeOywNZv3Gak/LIqriwxbQ5jaTcsEW1eb+FvoWo+zr5V/IUOvNtsapU2zJXSyj0xVB13sPfq0kkZA7dubIIKXIlJ8Cy7u+BN22RVcr+peOuxHdcBbA04FAVmEoEtO5vX55K4KVZS1QJvBBzU1rgUl8JapBNYIowLoZtD9NWRTWKqqe36L48BSz8QPH9epqqIDehlh2UuqocEmrdV7AvhuRoM74m80yeDIEX3ppreNN235FxV58DNjhswn5K8zK21+5ctjut6NmUIoy9tVvitnHr2VDM3ahtW8KQ/Vbsp9GGiWHfk8skyTSFz9/HdxhHe4uR/RxX/mG1SGXwypcDJNmCMfucZ/C1CuCQUbiBUDYbe7tiRkZX8GIat50d+wqR1fdN7ygGzrHrcN4kGFHK02cil5M6INgQVsvnNz77T5PqUFYJJInYmIBplJfP5On4eiOwYfhuCD44oLyYVs43rI1rk3H7usttzq8Qo3j84vavN9mOkAeuq8dHEd9NtCVKX51Oen+MM6IEYvz5StOehKLpIjD+nKU5AQWJpLizdB+1sb5LQvFRxbSJVGHmSdK/0WWaPguEYmcSJ68aWkK6rAw6jwSSCmrTWVHT96R7HwHANEgqybVJL+E2vE2q7Uu91Gr73SbbNUvZDtiOlCeIv4r/AI+0XUwz1lvcAAAAAElFTkSuQmCC");
}
.markdown-body h2 {
	position: relative;
	padding: 0 0 0 20px;
	font-size: 20px;
	font-weight: 700;
	color: #614500;
}
.markdown-body h2:before {
	content: "";
	position: absolute;
	top: 3px;
	bottom: 0;
	left: 0;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAMAAACahl6sAAAAQlBMVEVHcEwlRnqtZBj76q4lRnolRnolRnolRnolRnokRnr/gGtrVUeLXDBKTl+hYSHasW7Ik0zs0JG4dCvUdEE0SW+rYxrLQJfjAAAACnRSTlMA////0H/xUaMi5MCoTwAACfVJREFUeNrtnQl3qygUgJ9GXAqosfL//+pgmgXwXmRNJGdu55xO+6rx8+6I8O9fehmGriN93zdN07bVXdpW/ih/SbpuGP6dXbpOXv7z2i3S9ISck2eQOnAhMHG64VQQbmrAaM4B05GmipaGdB+m6BNQPBXzMYtKR3EPbB/RS5eY4g+lIW9WBqnySCvVMrzRpqqs0g9nwVg5p1KYlHEchRT5bftp+y3n6xlQDjAkABtrKULU9f377ev+4/1/NiT+URRiZRhrcZP6WLa/Gq005BORaqXsdYEuHPIP798ZxSyt6d5sVfxJESRCsvB32lfXwhRjnUBGmKXNoJQe04VIASJqRC/9G7yDsyQMiloYz+0pHYghEoPISAGgpDSvHsCoMwmA0mfjSG5UOsqah2RodkljzMkhZZdamiEDB8+Nsbk9T04yGNljDXGOZZ6u0+Tj9DuvbyNJBuPO0ABtLNPlJtfZJ4CNNCWJoY8gddwxNpm9YrHh9DEkBoeMud4Kma8XRZaYpBJOYvg59U9wOsblMvmGrzQe30dyqFZ1dxPfO0FT5BOdw989THVs4q1TFk+iN4PMu7CaLpd4EJOExNaJLE4d0xQKYpJ0cY5Ozcwwu6WOu2cs9TUYxPB4b4fvLRzTUXbT1HH7y0BnB0j6CAehkPFfFzd1TMsi6sU1/P4VM9NiISHBlYnBMR+kad075sXlmMehj1twnfTUqJH4GJfqIKte7S72emPnHbdiYHIB0e6ATjKq1UoTaFh6wBL2csMIVo9fH/v6QRHAgoxrOHQQxG/36tC1ODmGOeBGBRmXalgcdhDQ1xF1vI6a3DF2d4r7G1enOUgNOshlFq7qUCxrca9ldiCam7ilxRbP6JbOYsYtfLFmkcXEgLG1DN/6eroxHjqh5bh+Uw27e1oWVK7pN+AqwzUcq/UYTPw8nWufLFBHN2zcxLRYlmGPs6rA2Wy0uJe/E7TknbHIa1WH1bLA8DAj3JpxET+FCNCWZ5uNT6jxTPZK/1mXoCBeKlGLRT2lP69XN3XdqqCojKX1ZVda6iD2McjeXSHa0I+AHd2InGAJgjRVM6gOBfygDrarRJnho6eQBbrns+HkcNUCWtYClJa66qFgPbqqZEBTCOAgRqxCOhQBWpZeIC6QBq91hEoI5unTjsMsK9DCFigY9WNn19hgVCrELalrTw6WnYMYzjHhQ2/7G2xTx1HvwpzSe4cVi5ORQQwMW9+72FU5L4gGsa6Yu1RcDeIhs64Qs8izt0vGH+n9/IKaIlYpM2UqkYOrwwq5CgBjWpyGtxaonxe4KaJ3hx+7O0HaqVkxLBPj8FmBVmjNevIUFhUuDmMq5NDV9RwyPe/95IvxAhG7ymqxHGE5sZJL2kPLUhUinkXfrnFwGFwXD99djNLSFh/meXEb2B6Oyiwm0I7BC+OlTlOVPk9K8CIYzu5YHwKDTI6XAo5lz3WEqEXwQRKhh5cyLa6D81P4PXBw984as9YaGXHwx4Ba8rmOldUat/BHt9cQ38AaljnBdCJqs60OcXVDJZP//ZwSWtV9FpHNtgg22KuYx/U2tB5Mcp1TYOiphNhiFjgWeJ3DL2OZpuuUisIoUyzZEJ76I+LmyqWdv8LwnEiwMYczihjxeqtBsuFJSTg2oD1ETQx4v6D1VleSZW1xCwvAfVGWpQ069kgrQksAUW2rReYzsboIjSABuDQX0QJwB9cnZVgWVgE31vrklAJnEmVObykgYCk/VGX5OlpuKb5eiovUAvJ2tMstw0kIkNdpiSA91K6XA6K8CVCyr4PePhTo65q3DyX7OpTbSVk1PB62mhJ9HSpSqtKaESxsFRm0tLBVcvTV+vbBrLRK4hC7aitN9B0ZpX6vNMgjGIt5ZdmMv32KrmprD1afsPd4FEhThK0+WfTl3kpd482AGvG3jQdZK1+t8ireDswhofigRb3fxfI/4jj+xkffUX/1ccxxhEP9qyyBEH9Cx9vhf8TB7eiSpBHjZVSa4whQMJC1TqIR6q8RERtjOr2ID0yx3oYi0oAIvZCPz4eG64p3ObuREeOHUIR3MBVJwq9yll5P7KHdiPBOiOoRa/AjXz21J3k04l+i8OjErj4kaXWQiIVO/EvA+KLRAEnUVomtjPd6SvR3RLoeMT54nKFH1EqtkkEGFaQuTlSQrsxhRiOIt51S/Ho8B11+FUlwRaHnU4utEI38/mgSjRJ8PhWEtN6Z6WcncQOU4efjKoh3zfi7/+DfhPrwOZ9a/iYBiVJJxPlei3CqIDTYEqAPFow5/c71fAdVIwmo4n+cTIGbr2n9NULAE5ifcNNS63hvEOFk0wxYnICBBZ0I9xERBVILF0uggNdxuOkR4S6ngvgPmArzHv4KpMKGQFjQ+Rw6q9dC6R6dgZaJF7RVWIH0BTY9h+fz0ohHOyLuy+He/hN4GUR3/RxcBx2f76izarI9CaXmzRmhNQuSfIgJkva5GzN6HJbhQxCNsDGDSh56plmef6sg2eaXPsYBt5W+H6VE6omG6hOS1w4hiTWiThbJ1YO+RSO1vrpMlomf6nhQGz0m7qT6W04XOUHyzhZ4rkG+0hxL66oDW9mnPWyL3TMmssxyQUwr01CHX7b2OvUIaqS48TnMtAoEQTQixJeAlDfSiGmk/l8jpwIpTyFqOfeNIHWBooC036ERtUQp2tm/CKT5jjySbxTlvUVj2yhjvyWDVL3yfKRojXwLSEWUp7q0PBAKPp7m5YGoT3WH7wAZ1BeOywNZv3Gak/LIqriwxbQ5jaTcsEW1eb+FvoWo+zr5V/IUOvNtsapU2zJXSyj0xVB13sPfq0kkZA7dubIIKXIlJ8Cy7u+BN22RVcr+peOuxHdcBbA04FAVmEoEtO5vX55K4KVZS1QJvBBzU1rgUl8JapBNYIowLoZtD9NWRTWKqqe36L48BSz8QPH9epqqIDehlh2UuqocEmrdV7AvhuRoM74m80yeDIEX3ppreNN235FxV58DNjhswn5K8zK21+5ctjut6NmUIoy9tVvitnHr2VDM3ahtW8KQ/Vbsp9GGiWHfk8skyTSFz9/HdxhHe4uR/RxX/mG1SGXwypcDJNmCMfucZ/C1CuCQUbiBUDYbe7tiRkZX8GIat50d+wqR1fdN7ygGzrHrcN4kGFHK02cil5M6INgQVsvnNz77T5PqUFYJJInYmIBplJfP5On4eiOwYfhuCD44oLyYVs43rI1rk3H7usttzq8Qo3j84vavN9mOkAeuq8dHEd9NtCVKX51Oen+MM6IEYvz5StOehKLpIjD+nKU5AQWJpLizdB+1sb5LQvFRxbSJVGHmSdK/0WWaPguEYmcSJ68aWkK6rAw6jwSSCmrTWVHT96R7HwHANEgqybVJL+E2vE2q7Uu91Gr73SbbNUvZDtiOlCeIv4r/AI+0XUwz1lvcAAAAAElFTkSuQmCC");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 15px;
	height: 15px;
	margin: auto;
}
.markdown-body h3 {
	width: 100%;
	text-align: left;
	margin: 20px 10px 0 0;
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	padding-left: 10px;
	padding-bottom: 0;
	border-left: 5px solid #8f6600;
	color: #614500;
}
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
	font-weight: 700;
	color: #a37400;
}
.markdown-body h4 {
	font-size: 17px;
}
.markdown-body h5,
.markdown-body h6 {
	display: flex;
	align-items: center;
}
.markdown-body h5:after,
.markdown-body h6:after {
	display: inline-block;
	border: 2px solid #fff6e0;
	color: rgba(189, 134, 0, 0.5);
	border-radius: 50%;
	text-align: center;
	margin-left: 5px;
}
.markdown-body h5 {
	font-size: 14px;
}
.markdown-body h5:after {
	content: "5";
	width: 15px;
	height: 15px;
	line-height: 15px;
	font-size: 13px;
}
.markdown-body h6 {
	font-size: 12px;
}
.markdown-body h6:after {
	content: "6";
	width: 13px;
	height: 13px;
	line-height: 13px;
	font-size: 12px;
}
.markdown-body p {
	color: #412c0c;
	letter-spacing: 1px;
	font-weight: 400;
	margin-bottom: 16px;
}
.markdown-body img {
	max-width: 100%;
	display: block;
	margin: auto;
}
.markdown-body hr {
	border: none;
	border-top: 1px solid #ddd;
	margin-top: 32px;
	margin-bottom: 32px;
}
.markdown-body code {
	word-break: break-word;
	border-radius: 2px;
	overflow-x: auto;
	background-color: #fff5f5;
	font-size: 0.87em;
	padding: 0.065em 0.4em;
}
.markdown-body code,
.markdown-body pre {
	font-family: Menlo, Monaco, Consolas, Courier New, monospace;
}
.markdown-body pre {
	overflow: auto;
	position: relative;
	line-height: 1.75;
}
.markdown-body pre > code {
	font-size: 12px;
	padding: 15px 12px;
	margin: 0;
	word-break: normal;
	display: block;
	overflow-x: auto;
	color: #333;
	background: #f8f8f8;
}
.markdown-body a {
	color: #755300;
	font-weight: 400;
	border-bottom: 1px solid #755300;
	font-weight: bolder;
	text-decoration: none;
}
.markdown-body table {
	width: 100% !important;
	margin: 0;
	font-size: 12px;
	width: auto;
	max-width: 100%;
	overflow: auto;
	border-collapse: collapse;
	border-spacing: 0;
}
.markdown-body table img {
	box-shadow: none;
}
.markdown-body thead {
	background: #f6f6f6;
	color: #000;
	text-align: left;
}
.markdown-body thead tr th {
	text-align: center;
}
.markdown-body td,
.markdown-body th {
	padding: 12px 7px;
	line-height: 24px;
	box-sizing: border-box;
	border: 1px solid rgba(72, 42, 10, 0.1);
}
.markdown-body blockquote {
	position: relative;
	text-size-adjust: 100%;
	line-height: 25px;
	font-weight: 400;
	border-radius: 10px;
	font-style: normal;
	text-align: left;
	box-sizing: inherit;
	border: 1px solid #ffd87a;
	background-color: rgba(189, 134, 0, 0.5);
	margin: 20px 0;
	padding: 20px;
}
.markdown-body blockquote p {
	color: #fff6e0;
	letter-spacing: 2px;
	margin: 0;
}
.markdown-body blockquote:after,
.markdown-body blockquote:before {
	position: absolute;
	color: #cc9100;
	font-size: 34px;
	font-weight: 700;
}
.markdown-body blockquote:before {
	content: "❝";
	top: 8px;
	left: 5px;
}
.markdown-body blockquote:after {
	content: "❞";
	right: 5px;
	bottom: -5px;
}
.markdown-body strong {
	color: #c28a00;
	font-weight: bolder;
}
.markdown-body strong:before {
	content: "「";
}
.markdown-body strong:after {
	content: "」";
}
.markdown-body em {
	color: #c28a00;
}
.markdown-body em strong {
	font-style: normal;
	color: #c28a00;
	background-color: #8a6200;
}
.markdown-body s {
	color: #c28a00;
}
.markdown-body hr {
	border-top: 1px solid #805b00;
}
.markdown-body code,
.markdown-body li code,
.markdown-body p code {
	color: #996d00;
	background-color: rgba(130, 98, 0, 0.3);
}
.markdown-body ol,
.markdown-body ul {
	padding-left: 28px;
}
.markdown-body ol li,
.markdown-body ul li {
	margin-bottom: 0;
	list-style: inherit;
	color: #858585;
	font-family: bold;
	letter-spacing: 1px;
}
.markdown-body ol li .task-list-item,
.markdown-body ul li .task-list-item {
	list-style: none;
}
.markdown-body ol li .task-list-item ol,
.markdown-body ol li .task-list-item ul,
.markdown-body ul li .task-list-item ol,
.markdown-body ul li .task-list-item ul {
	margin-top: 0;
}
.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
	margin-top: 3px;
}
.markdown-body ol li {
	padding-left: 6px;
}
.markdown-body h1::selection,
.markdown-body h2::selection,
.markdown-body h3::selection,
.markdown-body h4::selection,
.markdown-body h5::selection,
.markdown-body h6::selection,
.markdown-body img::selection {
	color: rgba(189, 134, 0, 0.5);
	background-color: #fff;
}
.markdown-body a::selection,
.markdown-body b::selection,
.markdown-body del::selection,
.markdown-body em::selection,
.markdown-body i::selection,
.markdown-body strong::selection {
	background-color: transparent;
}
.markdown-body pre > code::selection {
	background-color: rgba(189, 134, 0, 0.5);
}
.markdown-body .math .math-inline::selection,
.markdown-body blockquote::selection,
.markdown-body ol::selection,
.markdown-body p::selection,
.markdown-body strong::selection,
.markdown-body table::selection,
.markdown-body ul::selection {
	background-color: rgba(189, 134, 0, 0.5);
}
@media (max-width: 720px) {
	.markdown-body h1 {
		font-size: 24px;
	}
	.markdown-body h2 {
		font-size: 20px;
	}
	.markdown-body h3 {
		font-size: 18px;
	}
}
