// 表情样式
#face {
  position: relative;

  #face-btn {
    padding: 6px 8px;
    color: rgba(23, 24, 26, 0.4);
    background-color: #ebebeb;
    position: relative;

    .icon {
      font-size: 15px;
    }

    &:hover {
      opacity: 1;
      background-color: lighten(#ebebeb, 2%)
    }

    &:active {
      opacity: 1;
      background-color: lighten(#ebebeb, 0%)
    }
  }

  //表情菜单
  @import "./face-tootip.scss";
}