@import "../mixins";

#index-main #index-content {
  padding-top: $nav-h;
}

//没有nav的占位高度
#category-nav-placeholder {
  height: $main-top;
}

#category-nav-children {
  margin-top: 15px;

  .children-warp {
    height: 36px;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    transition: height .25s;

    .content {
      // margin-right: 72px;

      a {
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
        color: #909090;
        padding: 0 10px;
        background-color: #fff;
        border-radius: 100px;
        cursor: pointer;
        margin-right: 12px;
        margin-bottom: 12px;

        &:hover {
          color: #007fff;
        }

        &:active {
          opacity: .7;
        }

        &.active {
          color: #fff;
          background-color: #007fff;
        }
      }
    }

    .more {
      float: right;
      // position: absolute;
      // top: 0;
      // right: 0;

      .btn {
        width: 65px;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
        color: #909090;
        text-align: center;
        background-color: #fff;
        border-radius: 100px;
        cursor: pointer;
        @include no-select();
        display: none;

        &:hover {
          box-shadow: 0 0 5px #ddd;
        }

        &:active {
          opacity: .7;
        }

        .icon {
          font-size: 12px;
          margin-left: 5px;
        }

        &.show {
          display: block;
        }
      }
    }
  }
}

.category-left-nav {
  padding: 16px 12px;
  border-bottom: 1px solid hsla(0, 0%, 59.2%, .1);

  .title {
    font-size: 14px;
    font-weight: normal;
    color: #909090;

    strong {
      font-size: 18px;
      font-weight: bold;
      color: #007fff;
    }
  }
}