// 相关文章
#related-articles {
  margin-top: 18px;
  background-color: #fff;

  .head {
    padding: 16px 24px;
    border-bottom: 1px solid rgba(178, 186, 194, .15);

    .title {
      font-size: 15px;
      line-height: 1;
      font-weight: bold;
      color: #909090;
    }
  }

  .content {
    .related-item {
      position: relative;
      padding: 16px 20px;
      background-color: #fff;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
        border-bottom: 1px solid #e5e6eb;
      }

      &:hover {
        background-color: #fafafa;
      }

      &:last-child::before {
        display: none;
      }

      .item-head {
        @media screen and (max-width: 400px) {
          display: flex;
          flex-wrap: wrap;
        }

        .head-left {
          display: flex;
          align-items: center;
          font-size: 14px;
          line-height: 22px;

          .user {
            flex-shrink: 0;
            min-width: 0;
            max-width: 162px;
            color: #4e5969;
            text-decoration: none;
            @include nowrap();
          }

          .dividing {
            width: 1px;
            height: 14px;
            background-color: #e5e6eb;
            margin: 0 8px;
          }

          .date {
            color: #86909c;
          }
        }

        .head-right {
          position: absolute;
          top: 16px;
          right: 20px;
          display: flex;
          align-items: center;

          @media screen and (max-width: 600px) {
            top: auto;
            bottom: 16px;
          }

          @media screen and (max-width: 400px) {
            position: static;
            margin-left: auto;
          }

          a {
            flex-shrink: 0;
            min-width: 0;
            max-width: 110px;
            padding: 0 8px;
            text-decoration: none;
            font-size: 14px;
            line-height: 22px;
            color: #4e5969;
            background-color: #fafafa;
            @include nowrap();

            &+a {
              margin-left: 8px;
            }

            &:hover {
              background-color: #e5e6eb;
            }
          }
        }
      }

      .item-body {
        display: flex;
        align-items: center;

        @media screen and (max-width:400px) {
          flex-direction: column-reverse;

          div.item-body-left {
            width: 100%;
          }

          div.item-body-right {
            margin-top: 14px;
            width: 100%;
            height: auto;
            position: relative;

            &::before {
              content: "";
              display: block;
              padding-bottom: 40%;
            }

            img {
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }

        .item-body-left {
          width: 0;
          flex-grow: 1;

          .title {
            margin: 14px 0 12px;
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
            color: #1d2129;
            word-break: break-all;
            @include clamp(2);
          }

          .subtitle {
            font-size: 14px;
            line-height: 22px;
            color: #4e5969;
            margin-bottom: 14px;
            @include clamp(2);
          }

          .info {
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 20px;
            color: #86909c;

            .info-item {
              &+.info-item {
                margin-left: 32px;
              }

              .icon {
                margin-right: 4px
              }

              &.share {
                display: flex;
              }
            }

            @import "../components/share";
          }
        }

        .item-body-right {
          flex-shrink: 0;
          width: 142px;
          height: 80px;
          margin-left: 16px;
          background-color: #fff;
          border-radius: 2px;
          overflow: hidden;

          img {
            @include imgFit();
          }
        }
      }
    }
  }
}