@charset "UTF-8";
.lg-backdrop.in {
  opacity: .7; }

#post-main {
  padding-top: 67px; }
  #post-main .post-warp {
    margin-top: 15px;
    position: relative; }
    #post-main .post-warp #article-tool {
      position: fixed;
      top: 190px;
      margin-left: -84px; }
      #post-main .post-warp #article-tool .top .badge {
        display: block;
        width: 36px;
        height: 36px;
        text-align: center;
        text-decoration: none;
        line-height: 36px;
        background-color: #fff;
        border-radius: 50%;
        color: #B2BAC2;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
        cursor: pointer;
        position: relative; }
        #post-main .post-warp #article-tool .top .badge::after {
          content: attr(badge);
          position: absolute;
          top: 0;
          left: 75%;
          padding: 2px 5px;
          font-size: 12px;
          line-height: 1;
          color: #fff;
          background-color: #b2bac2;
          border-radius: 200px;
          transform: scale(0.75);
          transform-origin: left top; }
        #post-main .post-warp #article-tool .top .badge + .badge {
          margin-top: 9px; }
        #post-main .post-warp #article-tool .top .badge:hover {
          color: #8A93A0; }
        #post-main .post-warp #article-tool .top .badge .icon {
          font-size: 20px; }
        #post-main .post-warp #article-tool .top .badge.active::after {
          background-color: #74ca46; }
        #post-main .post-warp #article-tool .top .badge.active .icon {
          color: #74ca46; }
      #post-main .post-warp #article-tool .bottom {
        margin-top: 30px; }
        #post-main .post-warp #article-tool .bottom.share .share-title {
          text-align: center;
          font-size: 12px;
          color: #c6c6c6;
          margin-bottom: 12px;
          -moz-user-select: none;
          /*火狐*/
          -webkit-user-select: none;
          /*webkit浏览器*/
          -ms-user-select: none;
          /*IE10*/
          -khtml-user-select: none;
          /*早期浏览器*/
          -o-user-select: none;
          /* Opera*/
          user-select: none; }
        #post-main .post-warp #article-tool .bottom.share .share-content {
          display: flex;
          flex-direction: column; }
          #post-main .post-warp #article-tool .bottom.share .share-content .share-item {
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
            text-decoration: none;
            background-color: #fff;
            border-radius: 50%;
            color: #B2BAC2;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
            cursor: pointer; }
            #post-main .post-warp #article-tool .bottom.share .share-content .share-item + .share-item {
              margin-top: 9px; }
            #post-main .post-warp #article-tool .bottom.share .share-content .share-item.weibo:hover {
              color: #D52B2A; }
            #post-main .post-warp #article-tool .bottom.share .share-content .share-item.qq:hover {
              color: #55B2F1; }
            #post-main .post-warp #article-tool .bottom.share .share-content .share-item.qq-kj:hover {
              color: #FFCE00; }
            #post-main .post-warp #article-tool .bottom.share .share-content .share-item.wx:hover {
              color: #44B035; }
            #post-main .post-warp #article-tool .bottom.share .share-content .share-item .icon {
              font-size: 20px; }
            #post-main .post-warp #article-tool .bottom.share .share-content .share-item.wx {
              position: relative; }
              #post-main .post-warp #article-tool .bottom.share .share-content .share-item.wx:hover .wx-qrcode {
                display: block; }
              #post-main .post-warp #article-tool .bottom.share .share-content .share-item.wx .wx-qrcode {
                position: absolute;
                top: 100%;
                left: 50%;
                width: 96px;
                height: 96px;
                padding: 6px;
                margin-top: 9px;
                background-color: #fff;
                transform: translateX(-50%);
                display: none; }
                #post-main .post-warp #article-tool .bottom.share .share-content .share-item.wx .wx-qrcode img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                  vertical-align: top; }
    #post-main .post-warp .post-left {
      width: 700px;
      margin-right: 260px;
      margin-bottom: 30px; }
      @media screen and (max-width: 960px) {
        #post-main .post-warp .post-left {
          width: 100%;
          margin-right: 0; } }
      #post-main .post-warp .post-left > .content {
        padding: 24px;
        padding-bottom: 36px;
        border-radius: 2px;
        background-color: #fff; }
        #post-main .post-warp .post-left > .content .post-skeleton .skeleton-head {
          display: flex;
          align-items: center; }
          #post-main .post-warp .post-left > .content .post-skeleton .skeleton-head .avatar {
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            margin-right: 12px;
            border-radius: 50%;
            overflow: hidden;
            background-color: #F0F0F0; }
          #post-main .post-warp .post-left > .content .post-skeleton .skeleton-head .info {
            min-width: 0;
            flex-grow: 1; }
            #post-main .post-warp .post-left > .content .post-skeleton .skeleton-head .info .title {
              width: 80px;
              height: 15px;
              background-color: #F0F0F0; }
            #post-main .post-warp .post-left > .content .post-skeleton .skeleton-head .info .subtitle {
              margin-top: 5px;
              width: 120px;
              height: 10px;
              background-color: #F0F0F0; }
        #post-main .post-warp .post-left > .content .post-skeleton .skeleton-body {
          margin-top: 30px;
          height: 400px;
          background-color: #F0F0F0; }
        #post-main .post-warp .post-left > .content .post-skeleton .skeleton-footer {
          margin-top: 30px; }
          #post-main .post-warp .post-left > .content .post-skeleton .skeleton-footer .footer-item {
            max-width: 50%;
            height: 30px;
            background-color: #F0F0F0; }
            #post-main .post-warp .post-left > .content .post-skeleton .skeleton-footer .footer-item:last-child {
              margin-top: 20px;
              max-width: 80%;
              height: 20px; }
        #post-main .post-warp .post-left > .content .content-warp {
          display: none; }
          #post-main .post-warp .post-left > .content .content-warp.show {
            display: block; }
        #post-main .post-warp .post-left > .content .left-head {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-end;
          margin-bottom: 14px; }
          #post-main .post-warp .post-left > .content .left-head .avatar {
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            margin-right: 12px;
            border-radius: 50%;
            overflow: hidden;
            background-color: #eee; }
            #post-main .post-warp .post-left > .content .left-head .avatar img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              vertical-align: top; }
          #post-main .post-warp .post-left > .content .left-head .info {
            min-width: 0;
            flex-grow: 1;
            margin-bottom: 5px; }
            #post-main .post-warp .post-left > .content .left-head .info a {
              color: inherit;
              text-decoration: none; }
            #post-main .post-warp .post-left > .content .left-head .info .title {
              font-size: 16px;
              font-weight: bold;
              color: #333; }
            #post-main .post-warp .post-left > .content .left-head .info .subtitle {
              margin-top: 3px;
              font-size: 13px;
              color: #909090; }
              #post-main .post-warp .post-left > .content .left-head .info .subtitle time {
                letter-spacing: 1px; }
          #post-main .post-warp .post-left > .content .left-head .edit {
            flex-shrink: 0;
            width: 55px;
            height: 26px;
            line-height: 26px;
            font-size: 14px;
            text-decoration: none;
            text-align: center;
            border: 1px solid #6cbd45;
            color: #6cbd45; }
            #post-main .post-warp .post-left > .content .left-head .edit:hover, #post-main .post-warp .post-left > .content .left-head .edit:active {
              opacity: .7; }
            @media screen and (max-width: 420px) {
              #post-main .post-warp .post-left > .content .left-head .edit {
                width: 45px;
                height: 20px;
                line-height: 20px;
                font-size: 12px; } }
        #post-main .post-warp .post-left > .content .article-end-time {
          text-align: right;
          font-size: 12px;
          color: #909090;
          margin-bottom: 10px; }
        #post-main .post-warp .post-left > .content .left-body .title-img {
          margin-bottom: 24px; }
          #post-main .post-warp .post-left > .content .left-body .title-img img {
            max-width: 100%;
            vertical-align: top; }
        #post-main .post-warp .post-left > .content .left-body .article-title {
          font-size: 30px;
          font-weight: bold;
          margin: 20px 0;
          line-height: 1.5; }
        #post-main .post-warp .post-left > .content .left-body .article-content #markdown {
          word-break: break-word;
          line-height: 1.75;
          font-weight: 400;
          font-size: 15px;
          overflow-x: hidden;
          color: #333; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown h1,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown h2,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown h3,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown h4,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown h5,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown h6 {
            line-height: 1.5;
            margin-top: 35px;
            margin-bottom: 10px;
            padding-bottom: 5px; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown h1 {
            font-size: 30px;
            margin-bottom: 5px; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown h2 {
            padding-bottom: 12px;
            font-size: 24px;
            border-bottom: 1px solid #ececec; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown h3 {
            font-size: 18px;
            padding-bottom: 0; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown h4 {
            font-size: 16px; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown h5 {
            font-size: 15px; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown h6 {
            margin-top: 5px; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown p {
            line-height: inherit;
            margin-top: 22px;
            margin-bottom: 22px; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown img {
            max-width: 100%; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown hr {
            border: none;
            border-top: 1px solid #ddd;
            margin-top: 32px;
            margin-bottom: 32px; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown code {
            word-break: break-word;
            border-radius: 2px;
            overflow-x: auto;
            background-color: #fff5f5;
            color: #ff502c;
            font-size: .87em;
            padding: .065em .4em;
            font-family: Menlo, Monaco, Consolas, Courier New, monospace; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown pre {
            font-family: Menlo, Monaco, Consolas, Courier New, monospace;
            overflow: auto;
            position: relative;
            line-height: 1.75; }
            #post-main .post-warp .post-left > .content .left-body .article-content #markdown pre > code {
              font-size: 12px;
              padding: 15px 12px;
              margin: 0;
              word-break: normal;
              display: block;
              overflow-x: auto;
              color: #333;
              background: #f8f8f8; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown a {
            text-decoration: none;
            color: #0269c8;
            border-bottom: 1px solid #d1e9ff; }
            #post-main .post-warp .post-left > .content .left-body .article-content #markdown a:active, #post-main .post-warp .post-left > .content .left-body .article-content #markdown a:hover {
              color: #275b8c; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown table {
            display: inline-block !important;
            font-size: 12px;
            width: auto;
            max-width: 100%;
            overflow: auto;
            border: 1px solid #f6f6f6; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown thead {
            background: #f6f6f6;
            color: #000;
            text-align: left; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown tr:nth-child(2n) {
            background-color: #fcfcfc; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown td,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown th {
            padding: 12px 7px;
            line-height: 24px; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown td {
            min-width: 120px; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown blockquote {
            color: #666;
            padding: 1px 23px;
            margin: 22px 0;
            border-left: 4px solid #cbcbcb;
            background-color: #f8f8f8; }
            #post-main .post-warp .post-left > .content .left-body .article-content #markdown blockquote:after {
              display: block;
              content: ""; }
            #post-main .post-warp .post-left > .content .left-body .article-content #markdown blockquote > p {
              margin: 10px 0; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown ol,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown ul {
            padding-left: 28px; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown ol li,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown ul li {
            margin-bottom: 0;
            list-style: inherit; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown ol li .task-list-item,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown ul li .task-list-item {
            list-style: none; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown ol li .task-list-item ol,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown ol li .task-list-item ul {
            margin-top: 0; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown ul li .task-list-item ol,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown ul li .task-list-item ul {
            margin-top: 0; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown ol ol,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown ol ul {
            margin-top: 3px; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown ul ol,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown ul ul {
            margin-top: 3px; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown ol li {
            padding-left: 6px; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .contains-task-list {
            padding-left: 0; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .task-list-item {
            list-style: none; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown pre,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown pre > code.hljs {
            color: #333;
            background: #f8f8f8; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-comment,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-quote {
            color: #998;
            font-style: italic; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-keyword,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-selector-tag,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-subst {
            color: #333;
            font-weight: 700; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-literal,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-number,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-tag .hljs-attr,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-template-variable,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-variable {
            color: teal; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-doctag,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-string {
            color: #d14; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-section,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-selector-id,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-title {
            color: #900;
            font-weight: 700; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-subst {
            font-weight: 400; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-class .hljs-title,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-type {
            color: #458;
            font-weight: 700; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-attribute,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-name,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-tag {
            color: navy;
            font-weight: 400; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-link,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-regexp {
            color: #009926; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-bullet,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-symbol {
            color: #990073; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-built_in,
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-builtin-name {
            color: #0086b3; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-meta {
            color: #999;
            font-weight: 700; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-deletion {
            background: #fdd; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-addition {
            background: #dfd; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-emphasis {
            font-style: italic; }
          #post-main .post-warp .post-left > .content .left-body .article-content #markdown .hljs-strong {
            font-weight: 700; }
        @media (max-width: 720px) {
          #post-main .post-warp .post-left > .content .left-body .article-content .markdown-body h1 {
            font-size: 24px; }
          #post-main .post-warp .post-left > .content .left-body .article-content .markdown-body h2 {
            font-size: 20px; }
          #post-main .post-warp .post-left > .content .left-body .article-content .markdown-body h3 {
            font-size: 18px; } }
        #post-main .post-warp .post-left > .content .left-body .article-content a.gallery {
          border-bottom: none !important;
          cursor: zoom-in; }
        #post-main .post-warp .post-left > .content .left-body .article-content .respond-visible a {
          margin: 0 5px; }
        #post-main .post-warp .post-left > .content .left-body .article-content .respond-view {
          display: block;
          max-width: 100%;
          min-width: 0;
          border-style: dashed;
          border-color: #c0c0c0;
          padding: 6px 10px 10px; }
          #post-main .post-warp .post-left > .content .left-body .article-content .respond-view legend {
            padding: 0 8px;
            color: #007fff; }
        #post-main .post-warp .post-left > .content .left-body .article-content .table-responsive {
          display: block;
          width: 100%;
          overflow-x: auto; }
        #post-main .post-warp .post-left > .content .article-tag {
          border-top: 1px solid #e5e6eb;
          padding-top: 24px;
          margin-bottom: 24px; }
          #post-main .post-warp .post-left > .content .article-tag .tag-warp {
            font-size: 14px;
            line-height: 32px; }
            #post-main .post-warp .post-left > .content .article-tag .tag-warp .tag-title {
              display: inline-block;
              vertical-align: top;
              margin-right: 12px; }
            #post-main .post-warp .post-left > .content .article-tag .tag-warp .tag-list a {
              display: inline-block;
              vertical-align: top;
              padding: 0 8px;
              margin-right: 8px;
              margin-bottom: 12px;
              color: #4e5969;
              text-decoration: none;
              background-color: #fafafa; }
              #post-main .post-warp .post-left > .content .article-tag .tag-warp .tag-list a:hover {
                color: #414a58;
                background-color: #f5f5f5; }
        #post-main .post-warp .post-left > .content .article-author {
          background-color: #f4f5f5;
          padding: 15px 17px;
          margin-bottom: 24px; }
          #post-main .post-warp .post-left > .content .article-author a {
            color: inherit;
            text-decoration: none; }
          #post-main .post-warp .post-left > .content .article-author .author-content {
            display: flex;
            align-items: center;
            flex-wrap: wrap; }
            #post-main .post-warp .post-left > .content .article-author .author-content .author-avatar {
              flex-shrink: 0;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              overflow: hidden;
              margin-right: 12px;
              background-color: #eee; }
              #post-main .post-warp .post-left > .content .article-author .author-content .author-avatar img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                vertical-align: top; }
            #post-main .post-warp .post-left > .content .article-author .author-content .author-info {
              min-width: 0;
              flex-grow: 1; }
              #post-main .post-warp .post-left > .content .article-author .author-content .author-info .info-top {
                display: flex;
                align-items: center;
                flex-wrap: wrap; }
                #post-main .post-warp .post-left > .content .article-author .author-content .author-info .info-top .title {
                  font-size: 16px;
                  font-weight: bold;
                  color: #333;
                  display: inline;
                  margin-right: 10px; }
                #post-main .post-warp .post-left > .content .article-author .author-content .author-info .info-top time {
                  font-size: 12px;
                  color: #909090; }
              #post-main .post-warp .post-left > .content .article-author .author-content .author-info .info-bottom {
                margin-top: 3px;
                font-size: 12px;
                color: #909090; }
                #post-main .post-warp .post-left > .content .article-author .author-content .author-info .info-bottom span + span::before {
                  content: "·";
                  margin: 0 5px; }
        #post-main .post-warp .post-left > .content .article-declaration {
          border-left: 6px solid #ddd;
          padding-left: 24px;
          margin-bottom: 30px; }
          #post-main .post-warp .post-left > .content .article-declaration .title {
            font-weight: normal;
            font-size: 16px;
            line-height: 1.6;
            color: #007fff; }
          #post-main .post-warp .post-left > .content .article-declaration .subtitle {
            margin-top: 3px;
            font-size: 13px;
            color: #909090;
            line-height: 1.4; }
            #post-main .post-warp .post-left > .content .article-declaration .subtitle a {
              color: inherit;
              text-decoration: none; }
              #post-main .post-warp .post-left > .content .article-declaration .subtitle a:hover, #post-main .post-warp .post-left > .content .article-declaration .subtitle a:active {
                color: #007fff; }
      #post-main .post-warp .post-left #related-articles {
        margin-top: 18px;
        background-color: #fff; }
        #post-main .post-warp .post-left #related-articles .head {
          padding: 16px 24px;
          border-bottom: 1px solid rgba(178, 186, 194, 0.15); }
          #post-main .post-warp .post-left #related-articles .head .title {
            font-size: 15px;
            line-height: 1;
            font-weight: bold;
            color: #909090; }
        #post-main .post-warp .post-left #related-articles .content .related-item {
          position: relative;
          padding: 16px 20px;
          background-color: #fff;
          cursor: pointer; }
          #post-main .post-warp .post-left #related-articles .content .related-item::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 20px;
            right: 20px;
            border-bottom: 1px solid #e5e6eb; }
          #post-main .post-warp .post-left #related-articles .content .related-item:hover {
            background-color: #fafafa; }
          #post-main .post-warp .post-left #related-articles .content .related-item:last-child::before {
            display: none; }
          @media screen and (max-width: 400px) {
            #post-main .post-warp .post-left #related-articles .content .related-item .item-head {
              display: flex;
              flex-wrap: wrap; } }
          #post-main .post-warp .post-left #related-articles .content .related-item .item-head .head-left {
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 22px; }
            #post-main .post-warp .post-left #related-articles .content .related-item .item-head .head-left .user {
              flex-shrink: 0;
              min-width: 0;
              max-width: 162px;
              color: #4e5969;
              text-decoration: none;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden; }
            #post-main .post-warp .post-left #related-articles .content .related-item .item-head .head-left .dividing {
              width: 1px;
              height: 14px;
              background-color: #e5e6eb;
              margin: 0 8px; }
            #post-main .post-warp .post-left #related-articles .content .related-item .item-head .head-left .date {
              color: #86909c; }
          #post-main .post-warp .post-left #related-articles .content .related-item .item-head .head-right {
            position: absolute;
            top: 16px;
            right: 20px;
            display: flex;
            align-items: center; }
            @media screen and (max-width: 600px) {
              #post-main .post-warp .post-left #related-articles .content .related-item .item-head .head-right {
                top: auto;
                bottom: 16px; } }
            @media screen and (max-width: 400px) {
              #post-main .post-warp .post-left #related-articles .content .related-item .item-head .head-right {
                position: static;
                margin-left: auto; } }
            #post-main .post-warp .post-left #related-articles .content .related-item .item-head .head-right a {
              flex-shrink: 0;
              min-width: 0;
              max-width: 110px;
              padding: 0 8px;
              text-decoration: none;
              font-size: 14px;
              line-height: 22px;
              color: #4e5969;
              background-color: #fafafa;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden; }
              #post-main .post-warp .post-left #related-articles .content .related-item .item-head .head-right a + a {
                margin-left: 8px; }
              #post-main .post-warp .post-left #related-articles .content .related-item .item-head .head-right a:hover {
                background-color: #e5e6eb; }
          #post-main .post-warp .post-left #related-articles .content .related-item .item-body {
            display: flex;
            align-items: center; }
            @media screen and (max-width: 400px) {
              #post-main .post-warp .post-left #related-articles .content .related-item .item-body {
                flex-direction: column-reverse; }
                #post-main .post-warp .post-left #related-articles .content .related-item .item-body div.item-body-left {
                  width: 100%; }
                #post-main .post-warp .post-left #related-articles .content .related-item .item-body div.item-body-right {
                  margin-top: 14px;
                  width: 100%;
                  height: auto;
                  position: relative; }
                  #post-main .post-warp .post-left #related-articles .content .related-item .item-body div.item-body-right::before {
                    content: "";
                    display: block;
                    padding-bottom: 40%; }
                  #post-main .post-warp .post-left #related-articles .content .related-item .item-body div.item-body-right img {
                    position: absolute;
                    top: 0;
                    left: 0; } }
            #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-left {
              width: 0;
              flex-grow: 1; }
              #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-left .title {
                margin: 14px 0 12px;
                font-size: 18px;
                font-weight: bold;
                line-height: 24px;
                color: #1d2129;
                word-break: break-all;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden; }
              #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-left .subtitle {
                font-size: 14px;
                line-height: 22px;
                color: #4e5969;
                margin-bottom: 14px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden; }
              #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-left .info {
                display: flex;
                align-items: center;
                font-size: 14px;
                line-height: 20px;
                color: #86909c; }
                #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-left .info .info-item + .info-item {
                  margin-left: 32px; }
                #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-left .info .info-item .icon {
                  margin-right: 4px; }
                #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-left .info .info-item.share {
                  display: flex; }
                #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-left .info .share {
                  display: none;
                  cursor: pointer;
                  position: relative; }
                  #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-left .info .share.show-qr-code {
                    display: flex; }
                    #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-left .info .share.show-qr-code .share-panel {
                      display: block; }
                  #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-left .info .share .share-panel {
                    position: absolute;
                    top: 100%;
                    left: -1px;
                    margin-top: 8px;
                    z-index: 1;
                    display: none; }
                    #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-left .info .share .share-panel .qr-code-tooltip {
                      width: 132px;
                      font-size: 14px;
                      color: #8f969c;
                      text-align: center;
                      padding: 7px 10px;
                      padding-bottom: 7px;
                      background-color: #fff;
                      border: 1px solid rgba(217, 222, 224, 0.99);
                      box-shadow: 0 1px 2px 0 #e0e4e9;
                      -moz-user-select: none;
                      /*火狐*/
                      -webkit-user-select: none;
                      /*webkit浏览器*/
                      -ms-user-select: none;
                      /*IE10*/
                      -khtml-user-select: none;
                      /*早期浏览器*/
                      -o-user-select: none;
                      /* Opera*/
                      user-select: none; }
                      #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-left .info .share .share-panel .qr-code-tooltip:hover {
                        background-color: #f7f8fa; }
                      #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-left .info .share .share-panel .qr-code-tooltip .qr-code-head {
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center; }
                        #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-left .info .share .share-panel .qr-code-tooltip .qr-code-head .icon {
                          font-size: 16px !important;
                          color: #007fff;
                          margin-right: 5px; }
                      #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-left .info .share .share-panel .qr-code-tooltip .qr-code-body {
                        padding: 5px;
                        padding-bottom: 0; }
                        #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-left .info .share .share-panel .qr-code-tooltip .qr-code-body img {
                          width: 100%;
                          vertical-align: top;
                          image-rendering: pixelated; }
            #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-right {
              flex-shrink: 0;
              width: 142px;
              height: 80px;
              margin-left: 16px;
              background-color: #fff;
              border-radius: 2px;
              overflow: hidden; }
              #post-main .post-warp .post-left #related-articles .content .related-item .item-body .item-body-right img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                vertical-align: top; }
    #post-main .post-warp .post-right {
      position: absolute;
      top: 0;
      right: 0;
      width: 240px; }
      @media screen and (max-width: 960px) {
        #post-main .post-warp .post-right {
          display: none; } }
      #post-main .post-warp .post-right .about-author {
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        margin-bottom: 18px; }
        #post-main .post-warp .post-right .about-author .head {
          padding: 12px 16px;
          border-bottom: 1px solid rgba(150, 150, 150, 0.1); }
          #post-main .post-warp .post-right .about-author .head .title {
            font-size: 14px;
            font-weight: normal;
            color: #333; }
        #post-main .post-warp .post-right .about-author .body {
          padding: 16px; }
          #post-main .post-warp .post-right .about-author .body .user-info {
            display: flex;
            align-items: center; }
            #post-main .post-warp .post-right .about-author .body .user-info .avatar {
              flex-shrink: 0;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              overflow: hidden;
              margin-right: 12px;
              background-color: #eee; }
              #post-main .post-warp .post-right .about-author .body .user-info .avatar img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                vertical-align: top; }
            #post-main .post-warp .post-right .about-author .body .user-info .info {
              min-width: 0;
              flex-grow: 1; }
              #post-main .post-warp .post-right .about-author .body .user-info .info .name {
                font-size: 16px;
                font-weight: bold;
                color: #000;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden; }
                #post-main .post-warp .post-right .about-author .body .user-info .info .name a {
                  color: inherit;
                  text-decoration: none; }
              #post-main .post-warp .post-right .about-author .body .user-info .info .description {
                margin-top: 10px;
                font-size: 15px;
                color: #72777b;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden; }
          #post-main .post-warp .post-right .about-author .body .stat-warp {
            margin-top: 16px; }
            #post-main .post-warp .post-right .about-author .body .stat-warp .stat-item {
              font-size: 15px;
              line-height: 25px;
              color: #000;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden; }
              #post-main .post-warp .post-right .about-author .body .stat-warp .stat-item + .stat-item {
                margin-top: 10px; }
              #post-main .post-warp .post-right .about-author .body .stat-warp .stat-item .icon {
                display: inline-block;
                vertical-align: top;
                font-size: inherit;
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                color: #66BAFF;
                background-color: #DEEFFF;
                border-radius: 50%;
                margin-right: 12px; }
      #post-main .post-warp .post-right .author-article {
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        margin-bottom: 18px; }
        #post-main .post-warp .post-right .author-article .head {
          padding: 12px 16px;
          border-bottom: 1px solid rgba(150, 150, 150, 0.1); }
          #post-main .post-warp .post-right .author-article .head .title {
            font-size: 14px;
            font-weight: normal;
            color: #333; }
        #post-main .post-warp .post-right .author-article .body .item a {
          display: block;
          padding: 0 16px;
          border-style: solid;
          border-color: transparent;
          border-width: 10px 0;
          font-size: 14px;
          color: #333;
          text-decoration: none;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden; }
          #post-main .post-warp .post-right .author-article .body .item a:hover {
            background-color: rgba(217, 217, 217, 0.1); }
      #post-main .post-warp .post-right #catalog-tree {
        transition: margin-top .2s; }
        #post-main .post-warp .post-right #catalog-tree.top-show {
          margin-top: 60px; }
        #post-main .post-warp .post-right #catalog-tree .head {
          padding: 12px 16px;
          padding-left: 0; }
          #post-main .post-warp .post-right #catalog-tree .head .title {
            font-size: 14px;
            font-weight: normal;
            color: #333; }
        #post-main .post-warp .post-right #catalog-tree .body .catalog-nav:not(.catalog-nav-sub) {
          position: relative; }
          #post-main .post-warp .post-right #catalog-tree .body .catalog-nav:not(.catalog-nav-sub)::before {
            content: "";
            position: absolute;
            top: 0;
            left: 7px;
            bottom: 0;
            width: 2px;
            background-color: #ebedef;
            opacity: .5; }
          #post-main .post-warp .post-right #catalog-tree .body .catalog-nav:not(.catalog-nav-sub) > a {
            font-weight: bold;
            color: #000; }
            #post-main .post-warp .post-right #catalog-tree .body .catalog-nav:not(.catalog-nav-sub) > a::before {
              left: 5px;
              margin-top: -3px;
              width: 6px;
              height: 6px; }
        #post-main .post-warp .post-right #catalog-tree .body .catalog-nav .catalog-nav {
          padding-left: 8px; }
        #post-main .post-warp .post-right #catalog-tree .body .catalog-nav a {
          display: block;
          padding: 4px 21px;
          padding-right: 0;
          font-size: 14px;
          color: #333;
          text-decoration: none;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          position: relative; }
          #post-main .post-warp .post-right #catalog-tree .body .catalog-nav a:hover {
            background-color: #ebedef; }
          #post-main .post-warp .post-right #catalog-tree .body .catalog-nav a::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 8.5px;
            margin-top: -2px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: currentColor; }

#face-tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 300px;
  height: 240px;
  background-color: #fff;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  display: none;
  opacity: 0;
  transition: opacity .25s; }
  #face-tooltip[data-show] {
    display: block; }
  #face-tooltip.show {
    opacity: 1; }
  #face-tooltip #arrow {
    position: absolute; }
    #face-tooltip #arrow:before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background-image: linear-gradient(45deg, transparent 50%, #fff 0);
      filter: drop-shadow(0 5px 18px rgba(0, 0, 0, 0.16));
      transform-origin: center; }
  #face-tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px; }
    #face-tooltip[data-popper-placement^='top'] > #arrow:before {
      transform: rotate(135deg); }
  #face-tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -4px; }
    #face-tooltip[data-popper-placement^='bottom'] > #arrow:before {
      transform: rotate(-45deg); }
  #face-tooltip[data-popper-placement^='left'] > #arrow {
    right: -4px; }
    #face-tooltip[data-popper-placement^='left'] > #arrow:before {
      transform: rotate(45deg); }
  #face-tooltip[data-popper-placement^='right'] > #arrow {
    left: -4px; }
    #face-tooltip[data-popper-placement^='right'] > #arrow:before {
      transform: rotate(-135deg); }
  #face-tooltip .tooltip-conntent {
    height: 100%;
    overflow: hidden; }
    #face-tooltip .tooltip-conntent input[type="radio"] {
      display: none; }
    #face-tooltip .tooltip-conntent .tab-head {
      display: flex; }
      #face-tooltip .tooltip-conntent .tab-head .tab-title {
        width: 0;
        flex-grow: 1;
        font-size: 16px;
        height: 35px;
        color: #999;
        border-bottom: 1px solid #999;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center; }
        #face-tooltip .tooltip-conntent .tab-head .tab-title img {
          width: 20px;
          height: 20px; }
    #face-tooltip .tooltip-conntent .tab-content {
      height: 200px;
      overflow: hidden;
      position: relative; }
      #face-tooltip .tooltip-conntent .tab-content .scroll-warp {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 17px);
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 10px;
        display: none; }
      #face-tooltip .tooltip-conntent .tab-content .content span {
        display: inline-block;
        vertical-align: top;
        padding: 6px 12px;
        border-radius: 4px;
        cursor: pointer; }
        #face-tooltip .tooltip-conntent .tab-content .content span:hover {
          background-color: whitesmoke;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
        #face-tooltip .tooltip-conntent .tab-content .content span img {
          width: 30px;
          height: 30px;
          vertical-align: top; }
    #face-tooltip .tooltip-conntent #one:checked ~ .tab-head .tab-title[for="one"] {
      color: #007fff;
      border-bottom-color: #007fff; }
    #face-tooltip .tooltip-conntent #one:checked ~ .tab-content .one {
      display: block; }
    #face-tooltip .tooltip-conntent #two:checked ~ .tab-head .tab-title[for="two"] {
      color: #007fff;
      border-bottom-color: #007fff; }
    #face-tooltip .tooltip-conntent #two:checked ~ .tab-content .two {
      display: block; }
    #face-tooltip .tooltip-conntent #three:checked ~ .tab-head .tab-title[for="three"] {
      color: #007fff;
      border-bottom-color: #007fff; }
    #face-tooltip .tooltip-conntent #three:checked ~ .tab-content .three {
      display: block; }

/*# sourceMappingURL=index.css.map */
