// .article-content-card {

// }
.article-content-card-head {
  margin-bottom: 20px;
}
.article-content-title {
  font-size: 32px;
  line-height: 1.3;
  color: var(--jj-article-content-title);
  margin-bottom: 20px;
}
.article-content-author {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.article-content-author-avatar {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  text-decoration: none;
  margin-right: 12px;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    border-radius: 50%;
  }
}
.article-content-author-info {
  flex-grow: 1;
  min-width: 0;
}
.article-content-author-name {
  font-size: 16px;
  line-height: 24px;
  color: var(--jj-article-content-author-name);
  @include one-line();
}
.article-content-author-other {
  font-size: 14px;
  line-height: 22px;
  color: var(--jj-article-content-author-other);
}
.article-content-edit-btn {
  margin-left: 16px;
  color: var(--jj-article-content-edit-btn);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    opacity: 0.7;
  }
}
.article-content-end-time {
  font-size: 12px;
  color: var(--jj-article-content-end-time);
  text-align: right;
}
.article-content-title-img {
  width: 100%;
  vertical-align: top;
}

// 回复可见
.respond-visible {
  a {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 640px) {
  .article-content {
    padding-left: 12px;
    padding-right: 12px;
  }
  .article-content-title {
    font-size: 24px;
  }
}
