#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-h;
  color: #999;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
  z-index: 3;
  transform: translate3d(0, -100%, 0);
  transition: transform .2s;

  &.visible {
    transform: translateZ(0);
  }

  .header-content {
    display: flex;
    align-items: center;
    height: $header-h;

    .logo {
      flex-shrink: 0;
      width: 98px;
      margin-right: 24px;
      text-align: center;

      img {
        max-width: 100%;
        height: 38px;
        vertical-align: top;
      }

      .mobile-logo {
        display: none;
      }

      @media screen and (max-width:700px) {
        width: 45px;
        margin-right: 0;

        .pc-logo {
          display: none;
        }

        .mobile-logo {
          display: block;
        }
      }
    }

    #header-nav {
      flex-grow: 1;
      height: 100%;

      .nav-list {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;

        .nav-item {
          font-size: 16px;
          color: #71777c;
          padding: 0 14px;
          height: $header-h;
          display: flex;
          align-items: center;
          position: relative;

          &.active {
            a {
              color: #007fff;
            }
          }

          a {
            color: inherit;
            text-decoration: none;

            &:hover,
            &:active {
              color: #007fff;
            }

            &:not(.btn):before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
            }
          }
        }

        .main-nav-list {
          @media screen and (max-width:980px) {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
          }

          .mobile-show-menu {
            width: 68px;
            display: none;
            height: $header-h;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            color: #007fff;
            background-color: #fff;
            cursor: pointer;
            @include no-select();

            .icon {
              font-size: 12px;
              margin-left: 8px;
            }

            @media screen and (max-width:980px) {
              display: flex;
            }
          }

          .mobile-hide {
            display: flex;
            white-space: nowrap;

            .nav-item {
              padding: 0 18px;
            }

            @media screen and (max-width:980px) {
              width: 136px;
              display: none;
              background-color: #fff;
              border: 1px solid rgba(177, 180, 185, .45);
              box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
              border-radius: 4px;

              &.show {
                display: block;
              }

              .nav-item {
                height: 48px;
                padding: 0;

                a {
                  display: block;
                  padding: 0 18px;
                }
              }

            }


          }
        }

        .nav-item.search {
          flex-grow: 1;
          justify-content: flex-end;

          .search-form {
            border: 1px solid hsla(0, 0%, 59.2%, .2);
            background-color: rgba(227, 231, 236, .2);
            border-radius: 2px;
            display: flex;
            align-items: center;
            position: relative;

            &:focus-within {
              background-color: #fff;
              border-color: #007fff;

              .icon {
                color: #007fff;
              }
            }

            // &.active {
            //   background-color: #fff;
            //   border-color: #007fff;

            //   .icon {
            //     color: #007fff;
            //   }
            // }

            .search-input {
              width: 132px;
              border: none;
              box-shadow: none;
              outline: none;
              color: #666;
              background-color: transparent;
              font-size: 14px;
              height: 32px;
              line-height: 32px;
              padding: 8px 0 8px 12px;
            }

            .icon {
              font-size: 14px;
              line-height: 32px;
              color: #666;
              padding: 0 10px;
              cursor: pointer;

              @media screen and (max-width:700px) {
                display: none;
              }
            }

            .typehead {
              display: none;
              position: absolute;
              top: 105%;
              left: 0;
              right: 0;
              background-color: #fff;
              font-size: 12px;
              line-height: 2;
              color: #869aab;
              border: 1px solid #ebebeb;
              border-radius: 3px;
              box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);

              &.show {
                display: block;
              }

              .title {
                margin: 3px 12px;
                border-bottom: 1px solid #ebebeb;
                display: flex;
                justify-content: space-between;

                .clear {
                  cursor: pointer;
                }
              }

              .list {
                color: #5e6369;
                cursor: pointer;

                >div {
                  padding: 3px 12px;
                  @include nowrap();


                  &:hover,
                  &:active {
                    background-color: #eff2f5;
                  }
                }
              }
            }
          }
        }

        .nav-item.add {
          @media screen and (max-width:980px) {
            display: none;
          }

          .add-btn {
            display: block;
            width: 80px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            font-size: 14px;
            color: #fff;
            background-color: #007fff;
            text-decoration: none;
            border-radius: 3px;
            letter-spacing: 1px;
            transition: background-color .3s;

            &:hover,
            &:active {
              background-color: #0876e4;
            }
          }
        }

        .nav-item.login {
          padding: 0;

          .login-btn {
            display: block;
            width: 72px;
            height: 32px;
            line-height: 30px;
            text-align: center;
            font-size: 16px;
            text-decoration: none;
            color: #007fff;
            border: 1px solid #007fff;
            border-radius: 3px;
          }
        }

        .nav-item.notification {
          color: #71777c;

          &:hover {
            color: #007fff;
          }

          @media screen and (max-width:420px) {
            display: none;
          }

          .icon {

            font-size: 24px;
          }
        }

        .nav-item.menu {
          padding-right: 0;
          cursor: pointer;
          position: relative;

          .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;

            img {
              @include imgFit();
            }
          }

          .nav-menu {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            width: 158px;
            background-color: #fff;
            border: 1px solid rgba(177, 180, 185, .45);
            box-shadow: 0 1px 2px 0 rgbs(0, 0, 0, .1);
            border-radius: 4px;

            &.show {
              display: block;
            }

            .nav-menu-item-group {
              padding: 12px 0;
              border-bottom: 1px solid rgba(0, 0, 0, .04);
            }

            .nav-menu-item {
              font-size: 16px;
              white-space: nowrap;

              a {
                display: flex;
                align-items: center;
                padding: 6px 12px;

                &::before {
                  display: none;
                }

                &:hover,
                &:active {
                  color: inherit;
                  background-color: hsla(0, 0%, 94.9%, .5);
                }

                .icon {
                  font-size: 14px;
                  color: #b2bac2;
                  margin-right: 10px;
                }
              }
            }
          }
        }

      }
    }

  }
}