.article-relevant-info {
  margin-top: 16px;
}
.article-relevant-info-item {
  margin-right: 20px;
  font-size: 14px;
  line-height: 32px;
}
.article-relevant-info-item-name {
  color: var(--jj-article-relevant-info);
  margin-right: 8px;
  white-space: nowrap;
}
.article-relevant-info-item-list {
  a {
    display: inline-block;
    padding: 0 12px;
    border-radius: 4px;
    color: inherit;
    text-decoration: none;
    margin-right: 12px;
    margin-bottom: 12px;
    transition: color 0.3s, background-color 0.3s;
    &:active {
      opacity: 0.7;
    }
  }
  &.category a {
    color: var(--jj-article-relevant-info-a-color1);
    background-color: var(--jj-article-relevant-info-a-bg1);
    &:hover {
      background-color: var(--jj-article-relevant-info-a-bg1-hover);
    }
  }
  &.tag a {
    color: var(--jj-article-relevant-info-a-color2);
    background-color: var(--jj-article-relevant-info-a-bg2);
    &:hover {
      background-color: var(--jj-article-relevant-info-a-bg2-hover);
    }
  }
}

@media screen and (max-width: 600px) {
  .article-relevant-info-item {
    display: block;
  }
}
