//自动加载
.auto-load {
  padding: 5px;
  text-align: center;
  background-color: $white;
  border-top: 1px solid $border-color;
  @include no-select();
  display: none;

  &.show {
    display: block;
  }

  img {
    width: 40px;
    vertical-align: top;
  }

  .next,
  .prev {
    display: none;
  }

  .no-more {
    font-size: 14px;
    line-height: 40px;
    color: $icon-color;
  }
}