.post-left {
  width: 700px;
  margin-right: 260px;
  margin-bottom: 30px;

  @media screen and (max-width:960px) {
    width: 100%;
    margin-right: 0;
  }

  //主体内容
  >.content {
    padding: 24px;
    padding-bottom: 36px;
    border-radius: 2px;
    background-color: #fff;

    @import "./post-skeleton.scss";

    .content-warp {


      &.hide {
        display: none;
      }
    }

    // 顶部作者信息
    .left-head {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 14px;

      .avatar {
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        margin-right: 12px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #eee;

        img {
          @include imgFit();
        }
      }

      .info {
        min-width: 0;
        flex-grow: 1;
        margin-bottom: 5px;

        a {
          color: inherit;
          text-decoration: none;
        }

        .title {
          font-size: 16px;
          font-weight: bold;
          color: #333;
        }

        .subtitle {
          margin-top: 3px;
          font-size: 13px;
          color: #909090;

          time {
            letter-spacing: 1px;
          }
        }
      }

      .edit {
        flex-shrink: 0;
        width: 55px;
        height: 26px;
        line-height: 24px;
        font-size: 14px;
        text-decoration: none;
        text-align: center;
        border: 1px solid #6cbd45;
        color: #6cbd45;

        &:hover,
        &:active {
          opacity: .7;
        }

        @media screen and (max-width:420px) {
          width: 45px;
          height: 20px;
          line-height: 20px;
          font-size: 12px;
        }
      }
    }

    //最后更新时间
    .article-end-time {
      text-align: right;
      font-size: 12px;
      color: #909090;
      margin-bottom: 10px;
    }

    //文章内容
    .left-body {
      .title-img {
        margin-bottom: 24px;

        img {
          max-width: 100%;
          vertical-align: top;
        }
      }

      .article-title {
        font-size: 30px;
        font-weight: bold;
        margin: 20px 0;
        line-height: 1.5;
      }

      .article-content {
        @import "../markdown/index.scss";

        @import "../markdown/my_style";
      }
    }

    // 文章tag信息
    .article-tag {
      border-top: 1px solid #e5e6eb;
      padding-top: 24px;
      margin-bottom: 24px;

      .tag-warp {
        font-size: 14px;
        line-height: 32px;

        .tag-title {
          display: inline-block;
          vertical-align: top;
          margin-right: 12px;
        }

        .tag-list {
          a {
            display: inline-block;
            vertical-align: top;
            padding: 0 8px;
            margin-right: 8px;
            margin-bottom: 12px;
            color: #4e5969;
            text-decoration: none;
            background-color: #fafafa;

            &:hover {
              color: #414a58;
              background-color: #f5f5f5;
            }
          }
        }
      }
    }

    //文章作者信息
    .article-author {
      background-color: #f4f5f5;
      padding: 15px 17px;
      margin-bottom: 24px;

      a {
        color: inherit;
        text-decoration: none;
      }

      .author-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .author-avatar {
          flex-shrink: 0;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 12px;
          background-color: #eee;

          img {
            @include imgFit();
          }
        }

        .author-info {
          min-width: 0;
          flex-grow: 1;

          .info-top {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .title {
              font-size: 16px;
              font-weight: bold;
              color: #333;
              display: inline;
              margin-right: 10px;
            }

            time {
              font-size: 12px;
              color: #909090;
            }
          }

          .info-bottom {
            margin-top: 3px;
            font-size: 12px;
            color: #909090;

            span {
              &+span::before {
                content: "·";
                margin: 0 5px;
              }
            }
          }
        }
      }
    }

    //版权声明
    .article-declaration {
      border-left: 6px solid #ddd;
      padding-left: 24px;
      margin-bottom: 30px;

      .title {
        font-weight: normal;
        font-size: 16px;
        line-height: 1.6;
        color: #007fff;
      }

      .subtitle {
        margin-top: 3px;
        font-size: 13px;
        color: #909090;
        line-height: 1.4;

        a {
          color: inherit;
          text-decoration: none;

          &:hover,
          &:active {
            color: #007fff;
          }
        }
      }
    }

  }

  //相关文章
  @import "./related-articles.scss";


}