// 文章右侧工具
.post-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;

  @media screen and (max-width:960px) {
    display: none;
  }

  //关于作者
  .about-author {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    margin-bottom: 18px;

    .head {
      padding: 12px 16px;
      border-bottom: 1px solid hsla(0, 0%, 58.8%, .1);

      .title {
        font-size: 14px;
        font-weight: normal;
        color: #333;
      }
    }

    .body {
      padding: 16px;

      .user-info {
        display: flex;
        align-items: center;

        .avatar {
          flex-shrink: 0;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 12px;
          background-color: #eee;

          img {
            @include imgFit();
          }
        }

        .info {
          min-width: 0;
          flex-grow: 1;

          .name {
            font-size: 16px;
            font-weight: bold;
            color: #000;
            @include nowrap();

            a {
              color: inherit;
              text-decoration: none;
            }
          }

          .description {
            margin-top: 10px;
            font-size: 15px;
            color: #72777b;
            @include nowrap();
          }
        }
      }

      .stat-warp {
        margin-top: 16px;

        .stat-item {
          font-size: 15px;
          line-height: 25px;
          color: #000;
          @include nowrap();

          &+.stat-item {
            margin-top: 10px;
          }

          .icon {
            display: inline-block;
            vertical-align: top;
            font-size: inherit;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            color: #66BAFF;
            background-color: #DEEFFF;
            border-radius: 50%;
            margin-right: 12px;
          }
        }
      }
    }
  }


  //相关文章
  .author-article {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    margin-bottom: 18px;

    .head {
      padding: 12px 16px;
      border-bottom: 1px solid hsla(0, 0%, 58.8%, .1);

      .title {
        font-size: 14px;
        font-weight: normal;
        color: #333;
      }
    }

    .body {
      .item {

        a {
          display: block;
          padding: 0 16px;
          border-style: solid;
          border-color: transparent;
          border-width: 10px 0;
          font-size: 14px;
          color: #333;
          text-decoration: none;
          @include clamp(2);


          &:hover {
            background-color: hsla(0, 0%, 85.1%, .1);
          }
        }


      }
    }
  }

  //目录树
  #catalog-tree {
    transition: margin-top .2s;

    &.top-show {
      margin-top: 60px;
    }

    .head {
      padding: 12px 16px;
      padding-left: 0;

      .title {
        font-size: 14px;
        font-weight: normal;
        color: #333;
      }
    }

    .body {
      .catalog-nav {
        &:not(.catalog-nav-sub) {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 7px;
            bottom: 0;
            width: 2px;
            background-color: #ebedef;
            opacity: .5;
          }

          >a {
            font-weight: bold;
            color: #000;

            &::before {
              left: 5px;
              margin-top: -3px;
              width: 6px;
              height: 6px;
            }
          }
        }

        .catalog-nav {
          padding-left: 8px;
        }

        a {
          display: block;
          padding: 4px 21px;
          padding-right: 0;
          font-size: 14px;
          color: #333;
          text-decoration: none;
          @include nowrap();
          position: relative;

          &:hover {
            background-color: #ebedef;
          }

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 8.5px;
            margin-top: -2px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: currentColor;
          }
        }
      }
    }

  }
}